<template>
  <q-layout view="lHh Lpr lFf">
    <q-header bordered>
      <q-toolbar>
        <!--
        <q-btn
          flat
          dense
          @click="leftDrawerOpen = !leftDrawerOpen"
          icon="menu"
          aria-label="Menu"
        />
        -->
        <q-toolbar-title class="text-bold">
          <router-link to="/">
            <img
              src="https://datascriptor.org/images/datascriptor-logo.png"
              width="200"
              align="left"
            >
          </router-link>
        </q-toolbar-title>

        <q-btn
          v-if="!isSignedIn"
          to="/login"
          label="Login"
          icon="fa fa-user"
          size="18px"
          flat
          round
          dense
        />
        <q-btn
          v-else
          :label="username"
          icon="fa fa-user"
          size="18px"
          flat
          round
          dense
        >
          <q-menu>
            <q-list style="min-width: 100px">
              <q-item
                v-close-popup
                clickable
              >
                <q-item-section @click="logout()">
                  Logout
                </q-item-section>
              </q-item>
            </q-list>
          </q-menu>
        </q-btn>
      </q-toolbar>
    </q-header>

    <q-footer
      class="bg-white"
      bordered
    >
      <!-- TODO implement footer with links to pages and installation banner for PWA -->
      <div
        v-if="showAppInstallBanner"
        class="banner-container bg-primary"
      >
        <div class="constrain">
          <transition
            appear
            enter-active-class="animated fadeIn"
            leave-active-class="animated fadeOut"
          >
            <q-banner
              class="bg-primary text-white"
              inline-actions
              rounded
              dense
            >
              <template v-slot:avatar>
                <q-avatar
                  color="white"
                  icon="eva-camera-outline"
                  text-color="grey-10"
                  font-size="22px"
                />
              </template>
              <b>Install Quasagram?</b>

              <template v-slot:action>
                <q-btn
                  class="p-px-sm"
                  label="Yes"
                  dense
                  flat
                  @click="installApp"
                />
                <q-btn
                  class="p-px-sm"
                  label="Later"
                  dense
                  flat
                  @click="showAppInstallBanner = false"
                />
                <q-btn
                  class="p-px-sm"
                  label="Never"
                  dense
                  flat
                  @click="neverShowAppInstallBanner"
                />
              </template>
            </q-banner>
          </transition>
        </div>
      </div>
      <q-tabs
        class="small-screen-only text-primary"
        active-color="primary"
        indicator-color="transparent"
      >
        <q-route-tab
          to="/"
          label="Home"
          icon="fas fa-home"
        />
        <q-route-tab
          to="/studyDesignPlanner"
          label="Study"
          icon="fas fa-cogs"
        />
        <q-route-tab
          to="/articleMetadataEdit"
          label="Article"
          icon="fas fa-scroll"
        />
        <q-route-tab
          to="/"
          label="Tables"
          icon="fas fa-table"
        />
      </q-tabs>
    </q-footer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

let deferredPrompt;

export default {
  name: 'MyLayout',

  data() {
    return {
      showAppInstallBanner: false
    };
  },
  computed: {
    ...mapGetters({
      isSignedIn: 'auth/isSignedIn',
      username: 'auth/username'
    })
  },
  mounted() {
    const neverShowAppInstallBanner = this.$q.localStorage.getItem('neverShowAppInstallBanner');
    if (!neverShowAppInstallBanner) {
      window.addEventListener('beforeinstallprompt', e => {
        // Prevent the mini-infobar from appearing on mobile
        e.preventDefault();
        // Stash the event so it can be triggered later.
        deferredPrompt = e;
        setTimeout(() => {
          // Update UI notify the user they can install the PWA
          this.showAppInstallBanner = true;
        }, 3000);
      });
    }
  },
  methods: {
    ...mapActions('auth', ['logout']),
    installApp() {
      this.showAppInstallBanner = false;
      // Show the install prompt
      deferredPrompt.prompt();
      // Wait for the user to respond to the prompt
      deferredPrompt.userChoice.then((choiceResult) => {
        if (choiceResult.outcome === 'accepted') {
          console.log('User accepted the install prompt');
          this.neverShowAppInstallBanner();
        } else {
          console.log('User dismissed the install prompt');
        }
      });
    },
    neverShowAppInstallBanner() {
      this.showAppInstallBanner = false;
      this.$q.localStorage.set('neverShowAppInstallBanner', true);
    }
  }
};
</script>

<style lang="sass">
.q-footer
  .q-tab__icon
    font-size: 30px

.q-toolbar
  @media (min-width: $breakpoint-sm-min)
    height: 77px
.q-toolbar__title
  @media (max-width: $breakpoint-xs-max)
    text-align: center
  font-size: 30px
</style>
