<template>
  <q-btn-group
    push
    :data-cy="`studyBtnGroup-${studyId}`"
  >
    <q-btn
      color="primary"
      label="View"
      size="sm"
      data-cy="viewStudyBtn"
      @click="viewStudy(studyId)"
    />
    <q-btn
      v-if="canEdit"
      color="secondary"
      label="Edit"
      size="sm"
      data-cy="editStudyBtn"
      @click="editStudy(studyId)"
    />
    <q-btn
      color="blue"
      label="Clone"
      size="sm"
      data-cy="cloneStudyBtn"
      @click="cloneStudy(studyId)"
    />
  </q-btn-group>
</template>

<script>
export default {
  name: 'StudiesView',

  props: {
    studyId: {
      type: String,
      required: true
    },
    canEdit: {
      type: Boolean,
      default: false
    }
  },

  methods: {
    viewStudy(studyId) {
      console.log(`Arguments: ${studyId}`);
      // this.$router.push({ name: 'study', params: { id: studyId } });
      this.$router.push(`/study/${studyId}`);
    },
    editStudy(studyId) {
      this.$router.push(`/study/edit/${studyId}`);
    },
    cloneStudy(studyId) {
      console.log(`WIP: clone study ${studyId}`);
    }
  }
};
</script>
