<template>
  <div
    class="ds-studies-view q-pa-sm"
  >
    <q-form>
      <div class="row q-py-lg">
        <q-input
          v-model="searchText"
          filled
          placeholder="Search Studies"
          input-class="ds-search-field"
          class="q-mt-xs"
        />
        <q-btn
          color="primary"
          icon="search"
          class="q-mt-xs"
          @click="onBtnClick"
        />
        <q-space />
        <q-btn
          to="/study/new"
          color="orange"
          label="New study"
          icon="fas fa-flask"
          class="q-ma-xs"
        />
      </div>
    </q-form>

    <q-banner
      v-if="error"
      class="bg-negative text-white q-my-lg"
    >
      Unfortunately, an error occured while retrieving the studies.
      Please try again later or contact us.
      <template v-slot:action>
        <q-btn
          flat
          color="white"
          label="Try again"
          @click="onBtnClick"
        />
      </template>
    </q-banner>

    <q-table
      v-else
      :grid="grid || $q.screen.xs"
      :dense="$q.screen.md"
      title="Existing Studies"
      :data="formattedStudies"
      :columns="columns"
      :pagination.sync="pagination"
      row-key="_id"
      :hide-header="grid"
      data-cy="studiesTable"
      :loading="isPending"
      @request="onRequest"
    >
      <template v-slot:body-cell-links="props">
        <q-td :props="props">
          <study-button-group
            :study-id="props.row._id"
            :can-edit="true"
          />
        </q-td>
      </template>
      <template v-slot:item="props">
        <div
          class="q-pa-xs col-xs-12 col-sm-6 col-md-4 col-lg-3 grid-style-transition"
          :style="props.selected ? 'transform: scale(0.95);' : ''"
        >
          <q-card
            :class="props.selected ? 'bg-grey-2' : ''"
            class="q-py-md"
          >
            <q-list dense>
              <q-item
                v-for="col in props.cols.filter(col => !['identifier', 'links'].includes(col.name))"
                :key="col.name"
                class="q-mt-sm row"
              >
                <q-item-section class="col-4">
                  <q-item-label>{{ col.label }}</q-item-label>
                </q-item-section>
                <q-item-section
                  class="col-8"
                  side
                >
                  <q-item-label
                    caption
                    style="max-width:85%; text-align:right;"
                  >
                    {{ col.value }}
                  </q-item-label>
                </q-item-section>
              </q-item>
              <q-item class="q-mt-sm">
                <q-space />
                <study-button-group
                  :study-id="props.row._id"
                  :can-edit="true"
                />
              </q-item>
            </q-list>
          </q-card>
        </div>
      </template>
    </q-table>
  </div>
</template>

<script>
import { date } from 'quasar';
import StudyButtonGroup from 'src/components/studies/StudyButtonGroup';
import { retrieveAllStudies } from 'src/api/study';
import { displayAnnotation } from 'src/utils/funcs';

export const defaultData = {
  isPending: false,
  studies: [],
  columns: [{
    name: 'name',
    label: 'Name',
    field: 'name',
    required: true
  }, {
    name: 'description',
    label: 'Description',
    field: 'description',
    required: true,
    classes: 'ds-table-description'
  }, {
    name: 'designType',
    label: 'Design Type',
    field: 'designType',
    required: true
  }, {
    name: 'subjectType',
    label: 'Subject Type',
    field: 'subjectType',
    required: true
  }, {
    name: 'links',
    label: 'Links',
    field: row => {
      return null;
    },
    required: true
  }, {
    name: 'createdAt',
    label: 'Creation Date',
    field: row => date.formatDate(row.createdAt, 'YYYY-MM-DD'),
    required: false
  }],
  searchText: null,
  pagination: {
    sortBy: 'createdAt',
    descending: true,
    page: 1,
    rowsPerPage: 5,
    rowsNumber: 10
  },
  error: null
};

export default {

  name: 'StudiesView',

  components: {
    StudyButtonGroup
  },

  props: {
    grid: {
      type: Boolean,
      required: true
    }
  },

  data() {
    return defaultData;
  },

  computed: {
    formattedStudies: function() {
      return this.studies.map(study => {
        const {
          _id,
          name,
          description,
          design: {
            designType,
            subjectType
          },
          createdAt
        } = study;
        return {
          _id,
          name,
          description,
          designType: displayAnnotation(designType),
          subjectType: displayAnnotation(subjectType),
          createdAt
        };
      });
    }
  },

  async mounted() {
    const { searchText, pagination: { page, rowsPerPage } } = this;
    await this.fetchStudies({ searchText, page, rowsPerPage });
  },

  methods: {

    async fetchStudies({ searchText, page, rowsPerPage }) {
      this.isPending = true;
      try {
        const { studies, paginationInfo } = await retrieveAllStudies({
          searchText,
          page,
          rowsPerPage
        });
        this.studies = studies;
        this.pagination = {
          ...this.pagination,
          ...paginationInfo
        };
        this.error = null;
      } catch (err) {
        this.studies = [];
        this.error = {
          message: err.message || 'Some error occurred while fetching and processing studies'
        };
      } finally {
        this.isPending = false;
      }
    },

    async onRequest(props) {
      const { page, rowsPerPage } = props.pagination;
      const { searchText } = this;
      await this.fetchStudies({ searchText, page, rowsPerPage });
    },

    async onBtnClick() {
      const { searchText, pagination: { page, rowsPerPage } } = this;
      await this.fetchStudies({ searchText, page, rowsPerPage });
    }
  }
};
</script>

<style>
.ds-table-description {
    min-width: 270px;
    word-wrap: break-word;
}
.ds-studies-view .q-table td, .ds-studies-view .q-table th {
    /* don't shorten cell contents */
    white-space: normal !important;
    text-align: left;
}
.ds-search-field {
  min-width: 250px;
}

</style>
