<template>
  <q-form
    class="q-gutter-md"
    @submit="onSubmit"
    @reset="onReset"
  >
    <div
      class="q-gutter-md"
      style="max-width: 600px"
    >
      <q-input
        v-model="form.identifier"
        outlined
        label="Identifier"
        bg-color="indigo-1"
        hidden="true"
      />
      <q-input
        v-model="form.name"
        label="Manuscript Title"
        outlined
        bg-color="indigo-1"
      >
        <q-tooltip
          anchor="center right"
          self="center left"
          :offset="[10, 10]"
          color="yellow"
        >
          <strong>The title or headline of the article</strong> (<q-icon name="keyboard_arrow_up" />)
        </q-tooltip>
      </q-input>
      <q-select
        v-model="form.authors"
        label="Author(s)"
        outlined
        multiple
        use-chips
        use-input
        hide-dropdown-icon
        input-debounce="0"
        new-value-mode="add-unique"
        stack-label
        bg-color="indigo-1"
      >
        <q-tooltip
          anchor="center right"
          self="center left"
          :offset="[10, 10]"
          color="yellow"
        >
          <strong>The list of authors, using <em>Last Name, Initials</em> pattern, and press `enter` for multiple entries</strong> (<q-icon name="keyboard_arrow_up" />)
        </q-tooltip>
      </q-select>
    </div>
    <div
      class="q-gutter-md"
      style="max-width: 600px"
    >
      <q-input
        v-model="form.abstract"
        outlined
        label="Abstract or brief description"
        type="textarea"
        bg-color="indigo-1"
      >
        <q-tooltip
          anchor="center right"
          self="center left"
          :offset="[10, 10]"
          color="yellow"
        >
          <strong>The abstract or short description summarizing the article</strong> (<q-icon name="keyboard_arrow_up" />)
        </q-tooltip>
      </q-input>
      <q-select
        v-model="form.inLanguage"
        outlined
        label="Article Language"
        bg-color="indigo-1"
      >
        <q-tooltip
          anchor="center right"
          self="center left"
          :offset="[10, 10]"
          color="yellow"
        >
          <strong>The main language used in the the article </strong> (<q-icon name="keyboard_arrow_up" />)
        </q-tooltip>
      </q-select>
      <q-input
        v-model="form.about"
        outlined
        label="About"
        bg-color="indigo-1"
      >
        <q-tooltip
          anchor="center right"
          self="center left"
          :offset="[10, 10]"
          color="yellow"
        >
          <strong>The main theme of the article</strong> (<q-icon name="keyboard_arrow_up" />)
        </q-tooltip>
      </q-input>
      <q-input
        v-model="form.backstory"
        outlined
        label="Backstory"
        type="textarea"
        bg-color="indigo-1"
      >
        <q-tooltip
          anchor="center right"
          self="center left"
          :offset="[10, 10]"
          color="yellow"
        >
          <strong>The context and background description for the article</strong> (<q-icon name="keyboard_arrow_up" />)
        </q-tooltip>
      </q-input>
      <q-input
        v-model="form.articleBody"
        outlined
        label="Article Body"
        type="textarea"
        bg-color="indigo-1"
      >
        <q-tooltip
          anchor="center right"
          self="center left"
          :offset="[10, 10]"
          color="yellow"
        >
          <strong>The full text article</strong> (<q-icon name="keyboard_arrow_up" />)
        </q-tooltip>
      </q-input>
      <q-input
        v-model.number="form.wordCount"
        outlined
        label="Word Count"
        type="number"
        bg-color="indigo-1"
        :rules="[ val => val>=0 || 'Please use a positive integer']"
      >
        <q-tooltip
          anchor="center right"
          self="center left"
          :offset="[10, 10]"
          color="yellow"
        >
          <strong>An positive integer indicated to full word count of the full text article</strong> (<q-icon name="keyboard_arrow_up" />)
        </q-tooltip>
      </q-input>
      <q-select
        v-model="form.keywords"
        color="purple"
        label="Keywords"
        outlined
        multiple
        use-chips
        use-input
        hide-dropdown-icon
        input-debounce="0"
        new-value-mode="add-unique"
        bg-color="indigo-1"
      >
        <q-tooltip
          anchor="center right"
          self="center left"
          :offset="[10, 10]"
          color="yellow"
        >
          <strong>A list of keywords for the article, press `enter` for multiple entries</strong> (<q-icon name="keyboard_arrow_up" />)
        </q-tooltip>
      </q-select>
    </div>
    <div
      class="q-gutter-md"
      style="max-width: 300px"
    >
      <q-input
        v-model="form.dateCreated"
        label="Date Created"
        filled
        mask="date"
        :rules="['date']"
        bg-color="indigo-1"
      >
        <template v-slot:append>
          <q-icon
            name="event"
            class="cursor-pointer"
            color="blue-grey"
          >
            <q-popup-proxy
              ref="qDateProxy"
              transition-show="scale"
              transition-hide="scale"
            >
              <q-date
                v-model="form.dateCreated"
                color="blue-grey"
                @input="() => $refs.qDateProxy.hide()"
              />
            </q-popup-proxy>
          </q-icon>
        </template>
        <q-tooltip
          anchor="center right"
          self="center left"
          :offset="[10, 10]"
          color="yellow"
        >
          <strong>The date of <em>creation</em> of the article</strong> (<q-icon name="keyboard_arrow_up" />)
        </q-tooltip>
      </q-input>
      <q-input
        v-model="form.dateModified"
        label="Date Modified"
        filled
        mask="date"
        :rules="['date']"
        bg-color="indigo-1"
      >
        <template v-slot:append>
          <q-icon
            name="event"
            class="cursor-pointer"
            color="orange-6"
          >
            <q-popup-proxy
              ref="qDateProxy"
              transition-show="scale"
              transition-hide="scale"
            >
              <q-date
                v-model="form.dateModified"
                color="orange"
                @input="() => $refs.qDateProxy.hide()"
              />
            </q-popup-proxy>
          </q-icon>
        </template>
        <q-tooltip
          anchor="center right"
          self="center left"
          :offset="[10, 10]"
          color="yellow"
        >
          <strong>The date of <em>last modification</em> of the article</strong> (<q-icon name="keyboard_arrow_up" />)
        </q-tooltip>
      </q-input>
      <q-input
        v-model="form.datePublished"
        label="Date Published"
        filled
        mask="date"
        :rules="['date']"
        bg-color="indigo-1"
      >
        <template v-slot:append>
          <q-icon
            name="event"
            class="cursor-pointer"
            color="red"
          >
            <q-popup-proxy
              ref="qDateProxy"
              transition-show="scale"
              transition-hide="scale"
            >
              <q-date
                v-model="form.datePublished"
                color="red"
                @input="() => $refs.qDateProxy.hide()"
              />
            </q-popup-proxy>
          </q-icon>
        </template>
        <q-tooltip
          anchor="center right"
          self="center left"
          :offset="[10, 10]"
          color="yellow"
        >
          <strong>The date of <em>publication</em> of the article</strong> (<q-icon name="keyboard_arrow_up" />)
        </q-tooltip>
      </q-input>
      <!--            <q-input-->
      <!--                  v-model="form.dateCreated"-->
      <!--                  label="Date Created"-->
      <!--                  outlined-->
      <!--                  type="date"-->
      <!--                  stack-label-->
      <!--            />-->
      <!--            <q-input-->
      <!--                v-model="form.dateModified"-->
      <!--                label="Date Modified"-->
      <!--                type="date"-->
      <!--                outlined-->
      <!--                stack-label-->
      <!--            />-->
      <!--            <q-input-->
      <!--                v-model="form.datePublished"-->
      <!--                label="Date Published"-->
      <!--                type="date"-->
      <!--                outlined-->
      <!--                stack-label-->
      <!--            />-->
      <q-input
        v-model="form.publisher"
        label="Journal"
        outlined
        bg-color="indigo-1"
      >
        <q-tooltip
          anchor="center right"
          self="center left"
          :offset="[10, 10]"
          color="yellow"
        >
          <strong>The name of the <em>journal</em> where the article is published</strong> (<q-icon name="keyboard_arrow_up" />)
        </q-tooltip>
      </q-input>
      <q-input
        v-model="form.url"
        filled
        label="Article URL"
        type="url"
        bg-color="indigo-1"
        prefix="url:"
      >
        <q-tooltip
          anchor="center right"
          self="center left"
          :offset="[10, 10]"
          color="yellow"
        >
          <strong>A <em>web address</em> where the article is available from</strong> (<q-icon name="keyboard_arrow_up" />)
        </q-tooltip>
      </q-input>
      <q-input
        v-model="form.sameAs"
        filled
        label="Article DOI"
        type="url"
        bg-color="indigo-1"
        prefix="doi:"
      >
        <q-tooltip
          anchor="center right"
          self="center left"
          :offset="[10, 10]"
          color="yellow"
        >
          <strong>The Digital Object Identifier assigned to the <em>article</em> upon upload or publication</strong> (<q-icon name="keyboard_arrow_up" />)
        </q-tooltip>
      </q-input>
      <!--          <q-input style="font-weight: normal" size="35" type="text" name="q" data-olswidget="select" data-olsontology="" data-selectpath="https://www.ebi.ac.uk/ols/" olstype="" id="local-searchbox" placeholder="Enter the term you are looking for" class="ac_input"></q-input>-->
      <q-input
        v-model.number="form.pageStart"
        label="Start Page"
        outlined
        type="number"
        bg-color="indigo-1"
        :rules="[ val => val>=0 || 'Please use a positive integer']"
      >
        <q-tooltip
          anchor="center right"
          self="center left"
          :offset="[10, 10]"
          color="yellow"
        >
          <strong>A positive integer corresponding to the first page of the article in the issue of the <em>journal</em> where the article is published</strong> (<q-icon name="keyboard_arrow_up" />)
        </q-tooltip>
      </q-input>
      <q-input
        v-model.number="form.pageEnd"
        label="End Page"
        outlined
        type="number"
        bg-color="indigo-1"
        :rules="[ val => val>0 || 'Please use a positive integer']"
      >
        <q-tooltip
          anchor="center right"
          self="center left"
          :offset="[10, 10]"
          color="yellow"
        >
          <strong>A positive integer corresponding to the last page of the article in the issue of the <em>journal</em> where the article is published</strong> (<q-icon name="keyboard_arrow_up" />)
        </q-tooltip>
      </q-input>
      <q-select
        v-model="form.creativeWorkStatus"
        label="Article Status"
        outlined
        bg-color="indigo-1"
        :options="options.creativeWorkStatus"
      >
        <q-tooltip
          anchor="center right"
          self="center left"
          :offset="[10, 10]"
          color="yellow"
        >
          <strong>A controlled term to indicate the status of the article </strong> (<q-icon name="keyboard_arrow_up" />)
        </q-tooltip>
      </q-select>

      <q-select
        v-model="form.license"
        outlined
        label="License"
        bg-color="indigo-1"
      >
        <q-tooltip
          anchor="center right"
          self="center left"
          :offset="[10, 10]"
          color="yellow"
        >
          <strong>The license under which the article is released</strong> (<q-icon name="keyboard_arrow_up" />)
        </q-tooltip>
      </q-select>
    </div>

    <div class="q-m-md q-gutter-sm">
      <q-btn
        label="Submit"
        type="submit"
        color="primary"
      />
      <q-btn
        label="Reset"
        type="reset"
        color="secondary"
      />
    </div>
  </q-form>
</template>

<script>
import { constants } from '@datascriptor/core';
import api from '../api/scholarlyArticle';

export default {
  data() {
    // TODO: move this spec to @datascriptor/core
    return {
      form: constants.DEFAULT_SCHOLARLY_ARTICLE_METADATA,
      options: {
        creativeWorkStatus: constants.CREATIVE_WORK_DEFAULT_STATUSES
      },
      selected: [],
      columns: [
        {
          name: 'desc',
          required: true,
          label: 'Non Treatment Period',
          align: 'left',
          field: row => row.name,
          format: val => `${val}`,
          sortable: true
        },
        { name: 'type', align: 'center', label: 'Type', field: 'type', sortable: true },
        { name: 'duration', label: 'Period Duration', field: 'duration', sortable: true },
        { name: 'unit', label: 'Unit', field: 'unit' }
        // { name: 'protein', label: 'Protein (g)', field: 'protein' },
        // { name: 'sodium', label: 'Sodium (mg)', field: 'sodium' },
        // { name: 'calcium', label: 'Calcium (%)', field: 'calcium', sortable: true, sort: (a, b) => parseInt(a, 10) - parseInt(b, 10) },
        // { name: 'iron', label: 'Iron (%)', field: 'iron', sortable: true, sort: (a, b) => parseInt(a, 10) - parseInt(b, 10) }
      ]
    };
  },
  methods: {
    async onSubmit() {
      const scholarlyArticle = await api.generateScholarlyArticle(this.form);
      this.$store.dispatch('publication/setScholarlyArticle', {
        scholarlyArticle
      });
      // submit to API to store as ScholarlyArticle metadata and save as JSONLD
      this.$router.push({ path: 'articleMetadataView' });
    },
    onExportJSONLD() {
      // TOD0 evaluate whethere this is needed
    },
    onReset() {
      // optional: reset the table
      this.form = constants.DEFAULT_SCHOLARLY_ARTICLE_METADATA;
    }
    // lookup() {
    //     this.$(document).ready(function() {
    //         var App = require('ols-autocomplete');
    //         var instance = new App();
    //         instance.start();
    //     });
    // }
  }
};
</script>
