<template>
  <div>
    <article
      v-if="reportText"
      class="q-pa-lg"
    >
      <p class="report-text">
        {{ reportText }}
      </p>
      <q-btn @click="edit = true">
        Edit this text
      </q-btn>
    </article>
    <q-dialog
      v-model="edit"
      :maximized="maximizedToggle"
      transition-show="slide-up"
      transition-hide="slide-down"
    >
      <text-editor :text="reportText" />
    </q-dialog>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import { isEmpty } from 'lodash';
import TextEditor from '../components/TextEditor.vue';

export default {

  components: {
    TextEditor
  },

  /* DO NOT USE props!! (see https://stackoverflow.com/questions/47069902/vue-vuex-getter-vs-passing-state-via-props)
    props: {
        studyData: Object,
        studyReport: Object
    }, */

  data() {
    return {
      edit: false,
      maximizedToggle: true
    };
  },

  computed: {
    ...mapGetters({
      studyData: 'study/studyData',
      studyReport: 'study/studyReport'
    }),
    studyDesign: function() {
      console.log(`computed.studyData: ${JSON.stringify(this.studyData)}`);
      return this.studyData.design || {};
    },
    hasStudyDesign: function() {
      return !isEmpty(this.studyDesign);
    },
    /**
         * @description generates the text report for the current Study Design
         * @todo rename it to refelect that this one concerns only the Study Design, not the whole study.
         * @todo elements and events must be sorted by epochs
         */
    reportText: function() {
      function concatenateArmNames(arms) {
        if (arms.length === 1) {
          return `For the ${arms[0].name} study group `;
        }
        if (arms.length === 2) {
          return `For the ${arms.map(arms => arms.name).join(' and ')} study groups `;
        } else {
          const armNames = arms.map(arms => arms.name);
          const armsText = `${armNames.slice(0, armNames.length - 1).join(', ')} and ${armNames[armNames.length - 1]}`;
          return `For the ${armsText} study groups `;
        }
      }
      const { studyData, studyReport } = this;
      console.log(studyReport);
      if (isEmpty(studyReport)) return null;
      let reportText = Object.values(studyReport.arms).join(' ');
      for (const prop of ['elements', 'events']) {
        if (studyReport[prop]) {
          for (const item of Object.keys(studyReport[prop])) {
            const arms = studyData.design.arms.filter(
              arm => arm.epochs.filter(epoch => epoch[prop] ? epoch[prop].indexOf(item.id) > -1 : false)
            ); // TODO check if this works
            reportText += concatenateArmNames(arms);
            reportText += studyReport[prop][item];
          }
        }
      }
      return reportText;
    }
  }
};
</script>
