<template>
  <q-card>
    <q-bar>
      <q-space />

      <q-btn
        dense
        flat
        icon="minimize"
        :disable="!maximizedToggle"
        @click="maximizedToggle = false"
      >
        <q-tooltip
          v-if="maximizedToggle"
          content-class="bg-white text-primary"
        >
          Minimize
        </q-tooltip>
      </q-btn>
      <q-btn
        dense
        flat
        icon="crop_square"
        :disable="maximizedToggle"
        @click="maximizedToggle = true"
      >
        <q-tooltip
          v-if="!maximizedToggle"
          content-class="bg-white text-primary"
        >
          Maximize
        </q-tooltip>
      </q-btn>
      <q-btn
        v-close-popup
        dense
        flat
        icon="close"
      >
        <q-tooltip content-class="bg-white text-primary">
          Close
        </q-tooltip>
      </q-btn>
    </q-bar>

    <q-card-section>
      <div class="text-h6">
        Alert
      </div>
    </q-card-section>

    <q-card-section class="q-pt-none">
      <q-editor
        v-model="text"
        class="q-pa-md"
        :dense="$q.screen.lt.md"
        :toolbar="[
          [
            {
              label: $q.lang.editor.align,
              icon: $q.iconSet.editor.align,
              fixedLabel: true,
              list: 'only-icons',
              options: ['left', 'center', 'right', 'justify']
            },
            {
              label: $q.lang.editor.align,
              icon: $q.iconSet.editor.align,
              fixedLabel: true,
              options: ['left', 'center', 'right', 'justify']
            }
          ],
          ['bold', 'italic', 'strike', 'underline', 'subscript', 'superscript'],
          ['token', 'hr', 'link', 'custom_btn'],
          ['print', 'fullscreen'],
          [
            {
              label: $q.lang.editor.formatting,
              icon: $q.iconSet.editor.formatting,
              list: 'no-icons',
              options: [
                'p',
                'h1',
                'h2',
                'h3',
                'h4',
                'h5',
                'h6',
                'code'
              ]
            },
            {
              label: $q.lang.editor.fontSize,
              icon: $q.iconSet.editor.fontSize,
              fixedLabel: true,
              fixedIcon: true,
              list: 'no-icons',
              options: [
                'size-1',
                'size-2',
                'size-3',
                'size-4',
                'size-5',
                'size-6',
                'size-7'
              ]
            },
            {
              label: $q.lang.editor.defaultFont,
              icon: $q.iconSet.editor.font,
              fixedIcon: true,
              list: 'no-icons',
              options: [
                'default_font',
                'arial',
                'arial_black',
                'comic_sans',
                'courier_new',
                'impact',
                'lucida_grande',
                'times_new_roman',
                'verdana'
              ]
            },
            'removeFormat'
          ],
          ['quote', 'unordered', 'ordered', 'outdent', 'indent'],

          ['undo', 'redo'],
          ['viewsource']
        ]"
        :fonts="{
          arial: 'Arial',
          arial_black: 'Arial Black',
          comic_sans: 'Comic Sans MS',
          courier_new: 'Courier New',
          impact: 'Impact',
          lucida_grande: 'Lucida Grande',
          times_new_roman: 'Times New Roman',
          verdana: 'Verdana'
        }"
      />
      <div class="q-pa-sm q-gutter-sm">
        <q-btn
          label="Save Text"
          color="primary"
        />
        <q-btn
          label="Download Markdown/HTML"
          color="secondary"
        />
        <q-btn
          label="Download as JATS (DAR)"
          color="deep-orange"
        />
      </div>
    </q-card-section>
  </q-card>
</template>

<script>
export default {
  props: {
    text: {
      type: String,
      required: true
    }
  },
  data() {
    return {};
  }
};
</script>
