<template>
  <div id="q-app">
    <router-view />
  </div>
</template>

<script>
import { mapActions } from 'vuex';

export default {

  name: 'App',
  async mounted() {
    // we do the autologin here !
    await this.autoLogin();
  },
  methods: {
    ...mapActions('auth', ['autoLogin'])
  }
};
</script>
