// app global css in SCSS form

.small-screen-only {
    @media (max-width: $breakpoint-xs-max) {
        display: block;
    }
    @media (min-width: $breakpoint-sm-min) {
        display: none;
    }
}

.large-screen-only {
    @media (max-width: $breakpoint-xs-max) {
        display: none;
    }
    @media (min-width: $breakpoint-sm-min) {
        display: block;
    }
}

.ds-page {
    @media (max-width: $breakpoint-xs-max) {
        padding: 4px 4px;
    }
    @media (min-width: $breakpoint-sm-min) and (max-width: $breakpoint-sm-max) {
        padding: 8px 8px;
    }
    @media (min-width: $breakpoint-md-min) and (max-width: $breakpoint-md-max) {
        padding: 16px 16px;
    }
    @media (min-width: $breakpoint-lg-min) {
        padding: 24px 24px;
    }
}

.constrain-looser {
    max-width: 1200px;
    margin: 0 auto;
}

.constrain {
    max-width: 975px;
    margin: 0 auto;
}

.constrain-stricter {
    max-width: 600px;
    margin: 0 auto;
}
