// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   : #40a039;
$secondary : #7083c2;
$accent    : #9C27B0;

$dark      : #1d1d1d;

$positive  : #12e042;
$negative  : #ff0000;
$info      : #32b8ed;
$warning   : #ff8717;
