<template>
  <q-select
    filled
    :label="label"
    :value="processedValue"
    :rules="rules"
    use-input
    hide-selected
    fill-input
    input-debounce="500"
    :options="options"
    hint="Text autocomplete"
    style="padding-bottom: 32px"
    standout="bg-light-blue-9 text-white"
    @filter="filterFn"
    @input="setValue"
    @input-value="setValue"
  >
    <template v-slot:option="scope">
      <q-item
        v-bind="scope.itemProps"
        v-on="scope.itemEvents"
      >
        <q-item-section>
          <q-item-label> {{ scope.opt.label }} </q-item-label>
          <q-item-label caption>
            {{ scope.opt.iri }}
          </q-item-label>
        </q-item-section>
        <q-item-section>
          <div class="justify-end row">
            <q-chip
              color="light-blue-9"
              class="text-white"
            >
              {{ scope.opt.obo_id }}
            </q-chip>
          </div>
        </q-item-section>
      </q-item>
    </template>
    <template v-slot:no-option>
      <q-item>
        <q-item-section class="text-grey">
          No results
        </q-item-section>
      </q-item>
    </template>
  </q-select>
</template>

<script>
import { isObject, isString } from 'lodash';
import { processAnnotation } from 'src/utils/funcs';
export default {
  name: 'DsAutocomplete',
  props: {
    label: {
      type: String,
      required: true
    },
    value: {
      type: [Object, String],
      required: true // this is probably to be set to false. Add a default value
    },
    rules: {
      type: Array,
      default() {
        return [];
      }
    },
    // function to get options from a possibly remote source
    fetchOptionsFn: {
      type: Function,
      required: true
    },
    updateValueFn: {
      type: Function,
      required: true
    }
  },
  data() {
    return {
      options: []
    };
  },
  computed: {
    processedValue: function() {
      return processAnnotation(this.value);
    }
  },
  methods: {
    /**
         * @method
         * @name filterFn
         * @description retrieve options from remote and store them in the "options" data property
         */
    filterFn(val, update, abort) {
      update(async() => {
        console.log(val);
        if (val.length >= 3) {
          let opts = await this.fetchOptionsFn(val);
          // console.log(types);
          this.options = opts;
          // console.log(this.subjectTypes);
        } else {
          this.options = [];
        }
      });
    },
    /**
     * @description this is invoked on tow different occasions:
     *     - on:input => when an item is selected from the autocomplete suggestions
     *     - on:input-value => when the testual input is changed and must be stored as free-text
     * This double event handling may be suboptimal but it works
     */
    setValue(item) {
      // if it is an object (i.e. an annotation fetched from a remote service)
      if (isObject(item)) {
        // then store it as an ontology annotation (term + iri)
        this.updateValueFn({
          term: item.label,
          iri: item.iri
        });
      } else if (isString(item)) {
        // don't do anything if the value has not been modified
        const { processedValue: { label } = {} } = this;
        if (item === label) {
          return;
        }
        this.updateValueFn(item);
      }
    }
  }
};
</script>
