<template>
  <div
    class="q-pa-md"
  >
    <div class="text-h6 text-primary">
      Sampling &amp; Assay Plan:
    </div>
    <q-card class="my-card">
      <q-card-section>
        <div
          v-show="visible"
          class="row"
        >
          <div
            class="col justify-center"
            v-html="elementPlanSvg"
          />
        </div>
      </q-card-section>
    </q-card>
  </div>
</template>

<script>
import { upperFirst, isEmpty, isObject } from 'lodash';
import MermaidRendererMixin from 'src/mixins/MermaidRendererMixin';

export default {

  mixins: [MermaidRendererMixin],

  props: {
    assayPlan: {
      type: Array,
      required: true
    }
  },

  computed: {
    graph: function() {
      const { assayPlan, productNode, protocolNode } = this;
      const subGraphs = assayPlan.map((assayType, assayIx) => {
        const {
          workflow
        } = assayType;
        if (isEmpty(workflow)) return null;
        const _name = isObject(assayType.name) ? assayType.name.term : assayType.name;
        const subGraph = `subgraph "${upperFirst(_name)}" \n ${
          workflow.map(([nodeName, nodeParams], nodeIx) => {
            return '#replicates' in nodeParams
              ? protocolNode(nodeName, nodeParams, nodeIx, assayIx)
              : productNode(nodeName, nodeParams, nodeIx, assayIx);
          }).join(' --> ')
        };\n end\n`;
        // console.log(subGraph);
        return subGraph;
      });
      return `graph LR\n ${subGraphs.join(' ')}`;
    }
  },

  methods: {
    productNode: (name, params, ix, assayIx) => {
      const _name = isObject(name) ? name.term : name;
      const nodeId = `assay_${assayIx}_${ix}`;
      return `${nodeId}(" ${upperFirst(_name.replace('_', ' '))} ")`;
    },
    protocolNode: (name, params, ix, assayIx) => {
      const _name = isObject(name) ? name.term : name;
      const nodeId = `assay_${assayIx}_${ix}`;
      // TODO: const descr = Object.entries.map(param
      return `${nodeId}([" ${upperFirst(_name.replace('_', ' '))} "])`;
    }
  }

};
</script>

<style>

</style>
