<template>
  <!--    <div>-->
  <!--&lt;!&ndash;        <p>{{ elementPlanGraph }}</p>&ndash;&gt;-->
  <!--        <div v-html="elementPlanSvg" />-->
  <!--    </div>-->
  <div
    class="q-pa-md"
  >
    <q-card class="my-card">
      <q-card-section>
        <div v-show="visible">
          <div v-html="elementPlanSvg" />
        </div>
      </q-card-section>
    </q-card>
  </div>
</template>

<script>
import { isEmpty } from 'lodash';
import MermaidRendererMixin from 'src/mixins/MermaidRendererMixin';
// import { mermaidAPI } from 'mermaid';
// import mermaid from 'mermaid/src/mermaidAPI';
/*
let graphIdCounter = 0;
const MERMAID_CONFIG = {
    theme: 'neutral',
    startOnLoad: false,
    flowchart: {
        width: '100%',
        useMaxWidth: true,
        htmlLabels: true,
        curve: 'cardinal'
    },
    securityLevel: 'loose'
}; */

export default {

  mixins: [MermaidRendererMixin],

  props: {
    arms: {
      type: Array,
      required: true
    },
    elements: {
      type: Array,
      required: true
    }
  },

  computed: {
    /**
         * @method
         * @name elementPlanGraph
         * @description generates the mermaid graph for the arms
         */
    graph: function() {
      // console.log(`computed.elementPlanGraph - ${JSON.stringify(this.arms)}`);
      const { arms, elements } = this;
      if (isEmpty(arms)) return null;
      let graph = `graph LR\n`;
      let count = 0;
      for (const arm of arms) {
        graph += this.makeSubgraphTitle(arm);
        const { epochs = [] } = arm;
        const elementsByEpochArr = epochs.map(epoch => {
          return epoch.elements.map(elementId => elements.find(el => el.id === elementId));
        });
        const armGraph = elementsByEpochArr.map(elementsInEpoch => {
          return isEmpty(elementsInEpoch) ? `id_${count++}("(None)")` : elementsInEpoch.map(
            el => `id_${count++}(" ${el.name} ")`
          ).join(' & ');
        }).join(' --> ');
        graph += `\t${armGraph};\n`;
        graph += 'end\n';
        // graph += `classDef ${arm.name} red\n`;
      }
      // graph += `subGraphStyle stroke:#333,stroke-width:2px,rx:5px,ry:5px\n`;
      // graph += `classDef box font-family:avenir,font-size:14px,fill:#2a9fc9,stroke:#222,color:#fff,stroke-width:1px`;
      return graph;
    }
  },

  methods: {
    makeSubgraphTitle(arm) {
      const { name, observationalFactors } = arm;
      if (!observationalFactors) {
        return `subgraph "${name}"  \n`;
      }
      const res = `subgraph "${name} (n=${arm.size}${
        isEmpty(observationalFactors) ? '' : '; '}${
        observationalFactors.map(oF => {
          return `${oF.name}=${oF.value}${oF.unit ? ` ${oF.unit}` : ''}`;
        }).join(', ')
      })" \n`;
      return res;
    }
  }

  /**
     * TODO complete and test this
    mounted() {
        mermaidAPI.initialize(this.config);
        mermaidAPI.render(
            `mermaid${++graphIdCounter}`,
            this.elementPlanGraph,
            (svg) => {
                console.log(`We're in the callback!!`);
                this.elementPlanSvg = svg;
                // document.body.removeChild(renderDiv);
            }
            // renderDiv
        );
    } */

};
</script>
