<template>
  <div
    class="ds-assay-editor q-my-sm q-pa-sm"
    data-cy="div-assayEditor"
  >
    <!--        <div class="text">Assay Configuration:<b> {{ config.name }}</b></div>-->
    <div class="text">
      Measurement Type: <b>{{ displayAnnotation(config.measurement_type) }}</b>
    </div>
    <div class="text">
      Technology Type: <b>{{ displayAnnotation(config.technology_type) }}</b>
    </div>
    <div class="ds-assay-workflow">
      <!--            <div class="text">Configurable Assay Workflow</div>-->
      <div
        v-for="([nodeName, nodeSpecs], index) in workflow"
        :key="index"
        :data-name="nodeName"
        class="ds-assay-node"
      >
        <product-node-editor
          v-if="isProductNode(nodeSpecs)"
          :assay-index="assayConfigIndex"
          :node-index="index"
        />
        <protocol-node-editor
          v-else-if="isProtocolNode(nodeSpecs)"
          :assay-index="assayConfigIndex"
          :node-index="index"
        />
      </div>
    </div>
    <div class="col q-pa-sm">
      <q-table
        title="Arm.Epoch.SampleType Selector"
        :data="designGridBody"
        :columns="designGridHeaders"
        :table-header-style="{ backgroundColor: '#e8eaf5' }"
        row-key="Arm"
        separator="cell"
        :data-cy="`table-assayPlan_${name}`"
      >
        <template v-slot:body="props">
          <q-tr :props="props">
            <q-td
              v-for="(header, ix) in designGridHeaders"
              :key="header.name"
              :props="props"
            >
              <div
                v-if="header.name !== 'Arm'"
                class="q-gutter-sm"
              >
                <q-checkbox
                  :value="selectedCells[armNames[props.rowIndex]][ix-1]"
                  :label="props.row[header.name]"
                  @input="toggleCell($event, armNames[props.rowIndex], ix-1)"
                />
                <q-select
                  v-if="selectedCells[armNames[props.rowIndex]][ix-1]"
                  :options="sampleTypeOptions[armNames[props.rowIndex]][ix-1]"
                  :value="selectedSampleTypes[armNames[props.rowIndex]][ix-1]"
                  outlined
                  use-chips
                  use-input
                  multiple
                  hide-dropdown-icon
                  bg-color="amber-14"
                  @input="setSampleTypes($event, armNames[props.rowIndex], ix-1)"
                />
              </div>
              <div
                v-else
                class="q-gutter-sm"
              >
                {{ props.row[header.name] }} <!-- TODO fill me -->
              </div>
            </q-td>
          </q-tr>
        </template>
      </q-table>
    </div>
  </div>
</template>

<script>
import { isArray } from 'lodash';
import { displayAnnotation, processAnnotations } from 'src/utils/funcs';
import ProductNodeEditor from 'src/components/studyDesignEditor/subcomponents/ProductNodeEditor';
import ProtocolNodeEditor from 'src/components/studyDesignEditor/subcomponents/ProtocolNodeEditor';
import { mapGetters } from 'vuex';
import { ASSAY_TYPE_SELECTED_CELL_TOGGLE } from 'src/store/mutation-types';

export default {

  components: {
    ProductNodeEditor,
    ProtocolNodeEditor
  },

  props: {
    name: {
      type: String,
      required: true
    }
  },

  data() {
    return {};
  },

  computed: {
    ...mapGetters({
      armNames: 'studyDesignPlanner/armNames',
      designGridHeaders: 'studyDesignPlanner/designGridHeaders',
      designGridBody: 'studyDesignPlanner/designGridBody',
      sampleTypeTable: 'studyDesignPlanner/sampleTypeTable'
    }),
    config: function() {
      return this.$store.state.studyDesignPlanner.assayPlan.find(conf => conf.name === this.name);
    },
    assayConfigIndex: function() {
      return this.$store.state.studyDesignPlanner.assayPlan.findIndex(conf => conf.name === this.name);
    },
    workflow: function() {
      return this.config.workflow;
    },
    selectedCells: function() {
      return this.config.selectedCells;
    },
    sampleTypeOptions: function() {
      return Object.entries(this.sampleTypeTable).reduce((obj, [armName, armSampleTypes]) => {
        return { ...obj, [armName]: armSampleTypes.map(processAnnotations) };
      }, {});
    },
    selectedSampleTypes: function() {
      return Object.entries(this.config.selectedSampleTypes).reduce((obj, [armName, armSampleTypes]) => {
        return { ...obj, [armName]: armSampleTypes.map(processAnnotations) };
      }, {});
    }
  },

  methods: {
    displayAnnotation,
    /**
         * if the node specs are an array or they contain the node_type property this is a ProductNode
         * Otherwise if it contains the '#replicates' property this is a ProtocolNode
         */
    isProductNode(nodeSpecs) {
      if (isArray(nodeSpecs)) return true;
      if (nodeSpecs.hasOwnProperty('node_type')) return true;
      return false;
    },
    /**
         * If the nodeSpecs contain the '#replicates' property this is a ProtocolNode
         */
    isProtocolNode(nodeSpecs) {
      if (isArray(nodeSpecs)) return false;
      if (nodeSpecs.hasOwnProperty('#replicates')) return true;
      return false;
    },
    /**
         * @method
         * @name toggleCell
         * @description set one cell to true if the checkbox has been clickes
         */
    toggleCell(value, armName, epochIndex) {
      this.$store.commit(`studyDesignPlanner/${ASSAY_TYPE_SELECTED_CELL_TOGGLE}`, {
        assayIndex: this.assayConfigIndex,
        armName,
        epochIndex,
        value
      });
    },
    /**
         * @method
         * @name setSampleTypes
         */
    setSampleTypes(values, armName, epochIndex) {
      this.$store.dispatch('studyDesignPlanner/updateSampleTypesInAssayPlanItem', {
        assayIndex: this.assayConfigIndex,
        armName,
        epochIndex,
        values
      });
    }
  }
};
</script>

<style lang="scss" scoped>
.ds-assay-editor {
    border: 0.2em solid $green;
    border-radius: 8px;
    color: $green;
}
.ds-assay-workflow {
    padding: 0.1em 0.1em;
}
.ds-assay-node {
    margin: 0.1rem 0;
    border: 1px solid $light-blue-7;
    border-radius: 8px;
}
</style>
