<template>
  <div class="ds-crossover-design-cnt">
    <div class="q-gutter-sm">
      <!-- TODO mechanism to add treatments here -->
      <treatment-editor
        v-for="(id, index) in treatmentIds"
        ref="treatments"
        :key="id"
        :index="index"
      />
      <q-btn
        class="q-pa-sm"
        icon="add"
        label="Add Treatment"
        @click="addTreatment"
      />
    </div>
    <non-treatment-elements-editor />
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import NonTreatmentElementsEditor from 'src/components/studyDesignEditor/subcomponents/NonTreatmentElementsEditor';
import TreatmentEditor from 'src/components/studyDesignEditor/subcomponents/TreatmentEditor';
import {
  ADD_TREATMENT, REMOVE_TREATMENT
} from 'src/store/mutation-types';

export default {

  components: {
    TreatmentEditor,
    NonTreatmentElementsEditor
  },
  data() {
    return {};
  },

  computed: {
    ...mapGetters({
      treatmentIds: 'studyDesignPlanner/treatmentIds'
    }),
    treatmentCount: function() {
      return this.treatmentIds.length;
    }
  },

  methods: {
    addTreatment: function() {
      // this.treatmentIds.push(this.treatmentIds[this.treatmentIds.length - 1] + 1);
      this.$store.commit(`studyDesignPlanner/${ADD_TREATMENT}`);
      return false;
    },
    removeTreatment: function(index) {
      // this.treatmentIds.splice(index, 1);
      this.$store.commit(`studyDesignPlanner/${REMOVE_TREATMENT}`, index);
    }
  }
};
</script>

<style lang="scss" scoped>
.ds-rest-phases-head {
    color: $green;
}

.ds-crossover-design-cnt {
    @media (max-width: $breakpoint-sm-max) {
        padding: 0 0;
    }
    @media (min-width: $breakpoint-md-min) and (max-width: $breakpoint-md-max) {
        padding: 4px 4px;
    }
    @media (min-width: $breakpoint-lg-min) {
        padding: 8px 8px;
    }
}
</style>
