<template>
  <div>
    <q-input
      v-model="name"
      name="name"
      label="Factor Name"
      placeholder="Please type in the factor name"
      :rules="[required]"
      filled
    />
    <q-select
      v-model="values"
      name="values"
      label="Factor Values"
      placeholder="Multiple values supported. Press enter after typing each intensity value."
      :rules="[required]"
      filled
      use-chips
      use-input
      multiple
      hide-dropdown-icon
      input-debounce="0"
      new-value-mode="add-unique"
      data-cy="select-factorVallues"
    />
    <q-checkbox
      v-model="isQuantitative"
      label="Quantitative"
      class="q-pb-sm"
    />
    <q-input
      v-if="isQuantitative"
      v-model="unit"
      :rules="[required]"
      filled
      name="unit"
      label="Factor Unit"
      placeholder="Please type in the factor values unit"
    />
    <div class="row">
      <q-space />
      <q-btn
        round
        name="remove"
        color="warning"
        icon="far fa-trash-alt"
        @click="remove"
      />
    </div>
  </div>
</template>

<script>
import {
  OBSERVATIONAL_FACTOR_REMOVE,
  OBSERVATIONAL_FACTOR_NAME_SET, OBSERVATIONAL_FACTOR_IS_QUANTITATIVE_SET,
  OBSERVATIONAL_FACTOR_VALUES_SET, OBSERVATIONAL_FACTOR_UNIT_SET
} from 'src/store/mutation-types';
import { required, positive } from 'src/utils/rules';

export default {
  props: {
    index: {
      type: Number,
      required: true
    }
  },
  computed: {
    name: {
      get() {
        return this.$store.state.studyDesignPlanner.observationalFactors[this.index].name;
      },
      set(name) {
        this.$store.commit(`studyDesignPlanner/${OBSERVATIONAL_FACTOR_NAME_SET}`, {
          index: this.index,
          name
        });
      }
    },
    values: {
      get() {
        return this.$store.state.studyDesignPlanner.observationalFactors[this.index].values;
      },
      set(values) {
        this.$store.commit(`studyDesignPlanner/${OBSERVATIONAL_FACTOR_VALUES_SET}`, {
          index: this.index,
          values
        });
      }
    },
    isQuantitative: {
      get() {
        return this.$store.state.studyDesignPlanner.observationalFactors[this.index].isQuantitative;
      },
      set(flag) {
        this.$store.commit(`studyDesignPlanner/${OBSERVATIONAL_FACTOR_IS_QUANTITATIVE_SET}`, {
          index: this.index,
          flag
        });
      }
    },
    unit: {
      get() {
        return this.$store.state.studyDesignPlanner.observationalFactors[this.index].unit;
      },
      set(unit) {
        this.$store.commit(`studyDesignPlanner/${OBSERVATIONAL_FACTOR_UNIT_SET}`, {
          index: this.index,
          unit
        });
      }
    }
  },
  methods: {
    required,
    positive,
    remove() {
      this.$store.commit(`studyDesignPlanner/${OBSERVATIONAL_FACTOR_REMOVE}`, this.index);
    }
  }

};
</script>
