<template>
  <div class="q-gutter-md">
    <q-card>
      <br>
      <q-select
        v-model="interventionType"
        name="interventionType"
        standout="bg-light-blue-9 text-white"
        :options="interventionTypes"
        label="Intervention Type"
        emit-value
        map-options
        class="col-md-4"
        style="max-width: 300px"
        data-cy="select-interventionType"
      />
      <br>
      <q-select
        v-model="agents"
        name="agents"
        label="Agents"
        :rules="[required]"
        placeholder="(Multiple values supported, Press enter after typing each agent)"
        filled
        use-chips
        use-input
        multiple
        hide-dropdown-icon
        input-debounce="0"
        new-value-mode="add-unique"
        bg-color="indigo-1"
        data-cy="select-agents"
      />
      <div class="row">
        <q-select
          v-model="intensities"
          name="intensities"
          label="Intensities"
          :rules="[required]"
          placeholder="(Multiple values supported, Press enter after typing each intensity value)"
          filled
          use-chips
          use-input
          multiple
          hide-dropdown-icon
          input-debounce="0"
          new-value-mode="add-unique"
          bg-color="indigo-1"
          class="col-sm-9 col-xs-12"
          data-cy="select-intensities"
        />
        <q-input
          v-model="intensityUnit"
          filled
          label="Intensity Unit"
          :rules="[required]"
          placeholder="Measurement units of the intensity levels."
          bg-color="indigo-3"
          class="col-sm-3 col-xs-6"
          data-cy="input-intensityUnit"
        />
      </div>
      <div class="row">
        <q-select
          v-model="durations"
          name="durations"
          label="Durations"
          :rules="[required]"
          placeholder="(Multiple values supported, Press enter after typing each duration value)"
          filled
          use-chips
          use-input
          multiple
          hide-dropdown-icon
          input-debounce="0"
          new-value-mode="add-unique"
          bg-color="indigo-1"
          class="col-sm-9 col-xs-12"
          data-cy="select-durations"
        />
        <q-input
          v-model="durationUnit"
          filled
          label="Duration Unit"
          :rules="[required]"
          placeholder="Measurement units for the duration levels"
          bg-color="amber-6"
          class="col-sm-3 col-xs-6"
          data-cy="input-durationUnit"
        />
      </div>
      <non-treatment-elements-editor
        single-treatment
      />
    </q-card>
  </div>
</template>

<script>
import { isPlainObject } from 'lodash';
import NonTreatmentElementsEditor from 'src/components/studyDesignEditor/subcomponents/NonTreatmentElementsEditor';
import { constants } from '@datascriptor/core';
import { processAnnotation, processAnnotations } from 'src/utils/funcs';
import {
  FACTORIAL_INTERVENTION_TYPE_SET, FACTORIAL_AGENTS_SET,
  FACTORIAL_INTENSITES_SET, FACTORIAL_INTENSITY_UNIT_SET,
  FACTORIAL_DURATIONS_SET, FACTORIAL_DURATION_UNIT_SET
} from 'src/store/mutation-types';
import { required, positive } from 'src/utils/rules';

const { INTERVENTION_TYPES } = constants;

export default {

  components: {
    NonTreatmentElementsEditor
  },
  data() {
    return {
      interventionTypes: processAnnotations(INTERVENTION_TYPES)
    };
  },

  computed: {
    elementParams: function() {
      return this.$store.state.studyDesignPlanner.treatmentPlan.elementParams;
    },
    interventionType: {
      get() {
        return processAnnotation(this.elementParams.interventionType);
      },
      set(emittedValue) {
        const value = INTERVENTION_TYPES.find(type => {
          const res = isPlainObject(type) ? type.iri === emittedValue : type === emittedValue;
          return res;
        });
        this.$store.commit(`studyDesignPlanner/${FACTORIAL_INTERVENTION_TYPE_SET}`, value);
      }
    },
    agents: {
      get() {
        // console.log(this.elementParams);
        return this.$store.state.studyDesignPlanner.treatmentPlan.elementParams.agents;
      },
      set(value) {
        this.$store.commit(`studyDesignPlanner/${FACTORIAL_AGENTS_SET}`, value);
      }
    },
    intensities: {
      get() {
        return this.$store.state.studyDesignPlanner.treatmentPlan.elementParams.intensities;
      },
      set(values) {
        try {
          const quantitativeValues = values.map(Number.parseFloat);
          this.$store.commit(`studyDesignPlanner/${FACTORIAL_INTENSITES_SET}`, quantitativeValues);
        } catch {
          this.$store.commit(`studyDesignPlanner/${FACTORIAL_INTENSITES_SET}`, values);
        }
      }
    },
    intensityUnit: {
      get() {
        return this.elementParams.intensityUnit;
      },
      set(value) {
        this.$store.commit(`studyDesignPlanner/${FACTORIAL_INTENSITY_UNIT_SET}`, value);
      }
    },
    durations: {
      get() {
        return this.$store.state.studyDesignPlanner.treatmentPlan.elementParams.durations;
      },
      set(values) {
        try {
          const quantitativeValues = values.map(Number.parseFloat);
          this.$store.commit(`studyDesignPlanner/${FACTORIAL_DURATIONS_SET}`, quantitativeValues);
        } catch {
          this.$store.commit(`studyDesignPlanner/${FACTORIAL_DURATIONS_SET}`, values);
        }
      }
    },
    durationUnit: {
      get() {
        return this.elementParams.durationUnit;
      },
      set(value) {
        this.$store.commit(`studyDesignPlanner/${FACTORIAL_DURATION_UNIT_SET}`, value);
      }
    }
  },

  methods: {
    required,
    positive
  }
};
</script>
