<template>
  <div>
    <q-card>
      <div class="q-mt-lg">
        <!--      <q-card>-->
        <div
          v-if="noTreatment"
          class="text-h5 ds-rest-phases-head"
        >
          Observational Study Phase
        </div>
        <div
          v-if="noTreatment"
          class="row q-py-sm q-col-gutter-md"
        >
          <q-checkbox
            v-model="hasObservation"
            class="col-md-2"
            label="Observation"
          />
          <q-input
            v-model.number="observationalPeriodDuration"
            outlined
            class="col-md-4"
            label="Observational Period Duration"
            :rules="[required, positive]"
            placeholder="Duration"
          />
          <q-input
            v-model.number="observationalPeriodDurationUnit"
            outlined
            class="col-md-4"
            label="Observational Period Duration Unit"
            :rules="[required]"
            placeholder="Duration unit"
          />
        </div>
        <!--      </q-card>-->
      </div>
      <div class="q-mt-lg">
        <!--      <q-card>-->
        <div class="text-h5 ds-rest-phases-head">
          Additional Study Stages
        </div>
        <div
          v-if="!noTreatment"
          class="row q-py-sm q-col-gutter-md"
        >
          <q-checkbox
            v-model="hasScreen"
            class="col-md-2"
            label="Screen"
            data-cy="checkbox-hasScreen"
          />

          <q-input
            v-if="hasScreen"
            v-model.number="screenDuration"
            outlined
            class="col-md-4"
            label="Screen Duration"
            :rules="[required, positive]"
            placeholder="Screen duration"
            data-cy="input-screenDuration"
          />
          <q-input
            v-if="hasScreen"
            v-model.number="screenDurationUnit"
            outlined
            class="col-md-4"
            label="Screen Duration Unit"
            :rules="[required]"
            placeholder="Screen duration unit"
            data-cy="input-screenDurationUnit"
          />
        </div>
        <div
          v-if="!noTreatment"
          class="row q-py-sm q-col-gutter-md"
        >
          <q-checkbox
            v-model="hasRunIn"
            class="col-md-2"
            label="Run-in"
            data-cy="checkbox-hasRunIn"
          />

          <q-input
            v-if="hasRunIn"
            v-model.number="runInDuration"
            outlined
            class="col-md-4"
            label="Run-in Duration"
            :rules="[required, positive]"
            placeholder="Run-in duration"
            data-cy="input-runInDuration"
          />
          <q-input
            v-if="hasRunIn"
            v-model.number="runInDurationUnit"
            outlined
            class="col-md-4"
            label="Run-in Duration Unit"
            :rules="[required]"
            placeholder="Run-in duration unit"
            data-cy="input-runInDurationUnit"
          />
        </div>
        <div
          v-if="!(singleTreatment || noTreatment)"
          class="row q-py-sm q-col-gutter-md"
        >
          <q-checkbox
            v-model="hasWashout"
            class="col-md-2"
            label="Washout"
            data-cy="checkbox-hasWashout"
          />
          <q-input
            v-if="hasWashout"
            v-model.number="washoutDuration"
            outlined
            class="col-md-4"
            label="Washout Duration"
            :rules="[required, positive]"
            placeholder="Washout duration"
            data-cy="input-washoutDuration"
          />
          <q-input
            v-if="hasWashout"
            v-model.number="washoutDurationUnit"
            outlined
            class="col-md-4"
            label="Washout Duration Unit"
            :rules="[required]"
            placeholder="Washout duration unit"
            data-cy="input-washoutDurationUnit"
          />
        </div>
        <div class="row q-py-sm q-col-gutter-md">
          <q-checkbox
            v-model="hasFollowUp"
            class="col-md-2"
            label="Follow-up"
            data-cy="checkbox-hasFollowUp"
          />
          <q-input
            v-if="hasFollowUp"
            v-model.number="followUpDuration"
            outlined
            class="col-md-4"
            label="Follow-up Duration"
            :rules="[required, positive]"
            placeholder="Follow-up duration"
            data-cy="input-followUpDuration"
          />
          <q-input
            v-if="hasFollowUp"
            v-model.number="followUpDurationUnit"
            outlined
            class="col-md-4"
            label="Follow-up Duration Unit"
            :rules="[required]"
            placeholder="Follow-up duration unit"
            data-cy="input-followUpDurationUnit"
          />
        </div>
        <!--      </q-card>-->
      </div>
    </q-card>
    <br>
  </div>
</template>

<script>
import {
  NON_TREATMENT_ELEMENT_SET, NON_TREATMENT_ELEMENT_RESET,
  OBSERVATION_PERIOD_DURATION_SET, OBSERVATION_PERIOD_DURATION_UNIT_SET,
  SCREEN_DURATION_SET, SCREEN_DURATION_UNIT_SET,
  RUN_IN_DURATION_SET, RUN_IN_DURATION_UNIT_SET,
  WASHOUT_DURATION_SET, WASHOUT_DURATION_UNIT_SET,
  FOLLOW_UP_DURATION_SET, FOLLOW_UP_DURATION_UNIT_SET
} from 'src/store/mutation-types';
import { required, positive } from 'src/utils/rules';

export default {

  props: {
    singleTreatment: {
      type: Boolean,
      default: false
    },
    noTreatment: {
      type: Boolean,
      default: false
    }
  },

  data() {
    return {
      // hasScreen: false,
      // hasRunIn: false,
      // hasWashout: false,
      // hasFollowUp: false
    };
  },

  computed: {
    hasScreen: {
      get() {
        return this.$store.state.studyDesignPlanner.treatmentPlan.screen.selected;
      },
      set(value) {
        if (value) {
          this.$store.commit(`studyDesignPlanner/${NON_TREATMENT_ELEMENT_SET}`, 'screen');
        } else {
          this.$store.commit(`studyDesignPlanner/${NON_TREATMENT_ELEMENT_RESET}`, 'screen');
        }
      }
    },
    observationalPeriodDuration: {
      get() {
        return this.$store.state.studyDesignPlanner.treatmentPlan.observationPeriod.duration;
      },
      set(value) {
        this.$store.commit(`studyDesignPlanner/${OBSERVATION_PERIOD_DURATION_SET}`, value);
      }
    },
    observationalPeriodDurationUnit: {
      get() {
        return this.$store.state.studyDesignPlanner.treatmentPlan.observationPeriod.durationUnit;
      },
      set(value) {
        this.$store.commit(`studyDesignPlanner/${OBSERVATION_PERIOD_DURATION_UNIT_SET}`, value);
      }
    },
    screenDuration: {
      get() {
        return this.$store.state.studyDesignPlanner.treatmentPlan.screen.duration;
      },
      set(value) {
        this.$store.commit(`studyDesignPlanner/${SCREEN_DURATION_SET}`, value);
      }
    },
    screenDurationUnit: {
      get() {
        return this.$store.state.studyDesignPlanner.treatmentPlan.screen.durationUnit;
      },
      set(value) {
        this.$store.commit(`studyDesignPlanner/${SCREEN_DURATION_UNIT_SET}`, value);
      }
    },
    hasRunIn: {
      get() {
        return this.$store.state.studyDesignPlanner.treatmentPlan.runIn.selected;
      },
      set(value) {
        if (value) {
          this.$store.commit(`studyDesignPlanner/${NON_TREATMENT_ELEMENT_SET}`, 'runIn');
        } else {
          this.$store.commit(`studyDesignPlanner/${NON_TREATMENT_ELEMENT_RESET}`, 'runIn');
        }
      }
    },
    runInDuration: {
      get() {
        return this.$store.state.studyDesignPlanner.treatmentPlan.runIn.duration;
      },
      set(value) {
        this.$store.commit(`studyDesignPlanner/${RUN_IN_DURATION_SET}`, value);
      }
    },
    runInDurationUnit: {
      get() {
        return this.$store.state.studyDesignPlanner.treatmentPlan.runIn.durationUnit;
      },
      set(value) {
        this.$store.commit(`studyDesignPlanner/${RUN_IN_DURATION_UNIT_SET}`, value);
      }
    },
    hasWashout: {
      get() {
        return this.$store.state.studyDesignPlanner.treatmentPlan.washout.selected;
      },
      set(value) {
        if (value) {
          this.$store.commit(`studyDesignPlanner/${NON_TREATMENT_ELEMENT_SET}`, 'washout');
        } else {
          this.$store.commit(`studyDesignPlanner/${NON_TREATMENT_ELEMENT_RESET}`, 'washout');
        }
      }
    },
    washoutDuration: {
      get() {
        return this.$store.state.studyDesignPlanner.treatmentPlan.washout.duration;
      },
      set(value) {
        this.$store.commit(`studyDesignPlanner/${WASHOUT_DURATION_SET}`, value);
      }
    },
    washoutDurationUnit: {
      get() {
        return this.$store.state.studyDesignPlanner.treatmentPlan.washout.durationUnit;
      },
      set(value) {
        this.$store.commit(`studyDesignPlanner/${WASHOUT_DURATION_UNIT_SET}`, value);
      }
    },
    hasFollowUp: {
      get() {
        return this.$store.state.studyDesignPlanner.treatmentPlan.followUp.selected;
      },
      set(value) {
        if (value) {
          this.$store.commit(`studyDesignPlanner/${NON_TREATMENT_ELEMENT_SET}`, 'followUp');
        } else {
          this.$store.commit(`studyDesignPlanner/${NON_TREATMENT_ELEMENT_RESET}`, 'followUp');
        }
      }
    },
    followUpDuration: {
      get() {
        return this.$store.state.studyDesignPlanner.treatmentPlan.followUp.duration;
      },
      set(value) {
        this.$store.commit(`studyDesignPlanner/${FOLLOW_UP_DURATION_SET}`, value);
      }
    },
    followUpDurationUnit: {
      get() {
        return this.$store.state.studyDesignPlanner.treatmentPlan.followUp.durationUnit;
      },
      set(value) {
        this.$store.commit(`studyDesignPlanner/${FOLLOW_UP_DURATION_UNIT_SET}`, value);
      }
    }
  },

  methods: {
    required,
    positive
  }
};
</script>
