<template>
  <div>
    <p>This is an Observational Study. No treatments need to be selected.</p>
    <p>Please set an observational period and click the submit button to generate observational study arms.</p>
    <non-treatment-elements-editor
      no-treatment
    />
  </div>
</template>

<script>
import NonTreatmentElementsEditor from 'src/components/studyDesignEditor/subcomponents/NonTreatmentElementsEditor';
export default {
  components: {
    NonTreatmentElementsEditor
  }
};
</script>
