<template>
  <div class="q-pa-xs q-my-xs">
    <div class="row text-subtitle1">
      node: <b>{{ displayNodeType }}</b>
    </div>
    <div
      v-if="nodeSpecs.characteristics_category"
      class="row text-subtitle1"
    >
      characteristics:  <b>{{ displayCharacteristicCategory }}</b>
    </div>
    <div
      v-if="nodeSpecs.characteristics_category"
      class="q-py-sm"
    >
      <q-select
        filled
        multiple
        :options="characteristicOptions"
        map-options
        use-chips
        stack-label
        :value="selectedCharacteristicValues"
        label="Characteristic Values"
        class="col-md-4"
        style="max-width: 300px"
        bg-color="light-green-6"
        :data-cy="`select-${displayNodeType}_${displayCharacteristicCategory}`"
        @input="updateSelectedCharacteristicValues"
      />
    </div>
    <div v-if="nodeSpecs.extension">
      <q-select
        filled
        multiple
        :options="extensionOptions"
        map-options
        use-chips
        stack-label
        :value="extensionValue"
        label="Extension"
        class="col-md-4"
        style="max-width: 300px"
        bg-color="yellow-14"
        :data-cy="`select-${displayNodeType}_extension`"
        @input="updateSelectedExtensionValue"
      />
    </div>
  </div>
</template>

<script>
import { processAnnotation, processAnnotations, displayAnnotation } from 'src/utils/funcs';
import { UPDATE_SELECTED_CHARACTERISTIC_VALUES, UPDATE_SELECTED_EXTENSION_VALUE } from 'src/store/mutation-types';

export default {
  props: {
    assayIndex: {
      type: Number,
      required: true
    },
    nodeIndex: {
      type: Number,
      required: true
    }
  },
  data() {
    return {
      test: []
    };
  },
  computed: {
    nodeSpecs: function() {
      return this.$store.state.studyDesignPlanner.assayPlan[this.assayIndex].workflow[this.nodeIndex][1];
    },
    displayNodeType: function() {
      return displayAnnotation(this.nodeSpecs.node_type);
    },
    displayCharacteristicCategory: function() {
      return displayAnnotation(this.nodeSpecs.characteristics_category);
    },
    characteristicOptions: function() {
      const { characteristics_value: { options = [] } = {} } = this.nodeSpecs;
      return processAnnotations(options);
    },
    selectedCharacteristicValues: function() {
      if (!this.nodeSpecs.characteristics_value) return null;
      return processAnnotations(this.nodeSpecs.characteristics_value.values);
    },
    extensionOptions: function() {
      const { extension: { options = {} } = {} } = this.nodeSpecs;
      return processAnnotations(options);
    },
    extensionValue: function() {
      if (!this.nodeSpecs.extension) return null;
      return processAnnotation(this.nodeSpecs.extension.value);
    }
  },
  methods: {
    displayAnnotation,
    updateSelectedCharacteristicValues(selectedValues) {
      // const values = selectedValues.map(annotation => annotation.label === annotation.value ? annotation.value : annotation);
      this.$store.commit(`studyDesignPlanner/${UPDATE_SELECTED_CHARACTERISTIC_VALUES}`, {
        assayIndex: this.assayIndex,
        nodeIndex: this.nodeIndex,
        values: selectedValues
      });
    },
    updateSelectedExtensionValue(selectedValue) {
      this.$store.commit(`studyDesignPlanner/${UPDATE_SELECTED_EXTENSION_VALUE}`, {
        assayIndex: this.assayIndex,
        nodeIndex: this.nodeIndex,
        value: selectedValue
      });
    }
  }
};
</script>
