<template>
  <div class="q-pa-xs q-my-xs">
    <div class="text-subtitle1">
      protocol type: <b>{{ displayName }} </b>
    </div>
    <div class="row q-col-gutter-sm">
      <q-input
        v-model.number="replicates"
        type="number"
        outlined
        label="Nb Replicates"
        label-color="white"
        class="col-md-4"
        style="max-width: 300px"
        :rules="[ val => val>=0 || 'Please use a positive integer']"
        bg-color="light-blue-9"
        :data-cy="`input-${displayName}_nbReplicates`"
      />
    </div>
    <div v-if="protocolParamNames.length">
      <div class="row text-subtitle2">
        <b>protocol parameters: </b>
      </div>
      <div
        v-for="(paramName, paramIx) in protocolParamNames"
        :key="paramIx"
        class="ds-protocol-param-editor"
        style="max-width: 300px"
      >
        <q-select
          filled
          multiple
          :options="protocolParamOptions[paramName]"
          map-options
          use-chips
          stack-label
          :value="selectedProtocolParameterValues[paramName]"
          :use-input="nodeSpecs[paramName].newValues === true"
          :label="`${paramName} values`"
          placeholder="Select all the parameter values you will include in your study"
          bg-color="light-blue-9"
          :data-cy="`select-${displayName}_${paramName}`"
          @new-value="(value, done) => createNewParameterValue(paramName, value, done)"
          @input="updateSelectedParameterValues($event, paramName)"
        />
      </div>
    </div>
  </div>
</template>

<script>
import {
  isArray
} from 'lodash';
import { NUM_REPLICATES } from 'src/utils/constants';
import { NUM_REPLICATES_SET, CREATE_NEW_PARAMETER_VALUE, UPDATE_SELECTED_PARAMETER_VALUES } from 'src/store/mutation-types';
import { processAnnotations, displayAnnotation } from 'src/utils/funcs';

export default {
  props: {
    assayIndex: {
      type: Number,
      required: true
    },
    nodeIndex: {
      type: Number,
      required: true
    }
  },
  data() {
    return {};
  },
  computed: {
    node: function() {
      return this.$store.state.studyDesignPlanner.assayPlan[this.assayIndex].workflow[this.nodeIndex];
    },
    nodeName: function() {
      return this.node[0];
    },
    displayName: function() {
      return displayAnnotation(this.nodeName);
    },
    nodeSpecs: function() {
      return this.node[1];
    },
    replicates: {
      get() {
        const { nodeSpecs } = this;
        return nodeSpecs[NUM_REPLICATES].value;
      },
      set(value) {
        this.$store.commit(`studyDesignPlanner/${NUM_REPLICATES_SET}`, {
          assayIndex: this.assayIndex,
          nodeIndex: this.nodeIndex,
          value
        });
      }
    },
    selectedProtocolParameterValues: function() {
      const values = Object.entries(this.nodeSpecs).reduce((o, [paramName, paramObj]) => {
        if (paramName === NUM_REPLICATES) return o;
        const values = isArray(paramObj.values) ? paramObj.values : [];
        return { ...o, [paramName]: processAnnotations(values) };
      }, {});
      // console.log(`ProtocolNodeEditor.selectedProtocolParameterValues: values = ${JSON.stringify(values)}`);
      return values;
    },
    protocolParamNames: function() {
      return Object.keys(this.nodeSpecs).filter(name => name !== NUM_REPLICATES);
    },
    protocolParamOptions: function() {
      return this.protocolParamNames.reduce((o, paramName) => {
        const options = this.nodeSpecs[paramName].options;
        if (!Array.isArray(options)) {
          console.log(`Param ${paramName} has no options array!`);
        }
        return { ...o, [paramName]: processAnnotations(options) };
      }, {});
    }
  },
  methods: {
    displayAnnotation,
    updateSelectedParameterValues(selectedValues, paramName) {
      // const values = selectedValues.map(annotation => annotation.label === annotation.value ? annotation.value : annotation);
      this.$store.commit(`studyDesignPlanner/${UPDATE_SELECTED_PARAMETER_VALUES}`, {
        assayIndex: this.assayIndex,
        nodeIndex: this.nodeIndex,
        paramName,
        values: selectedValues
      });
    },
    createNewParameterValue(paramName, newValue, done) {
      if (this.nodeSpecs[paramName].newValues === true) {
        this.$store.commit(`studyDesignPlanner/${CREATE_NEW_PARAMETER_VALUE}`, {
          assayIndex: this.assayIndex,
          nodeIndex: this.nodeIndex,
          paramName,
          newValue
        });
      } else {
        done();
      }

      // done callback has two optional parameters:
      //  - the value to be added
      //  - the behavior (same values of new-value-mode prop,
      //    and when it is specified it overrides that prop –
      //    if it is used); default behavior (if not using
      //    new-value-mode) is to add the value even if it would
      //    be a duplicate
    }
  }
};
</script>

<style lang="scss" scoped>
.ds-protocol-param-editor {
    padding: 0.1em 0.1em 0.1em 0.1em;
}

</style>
