<template>
  <div class="row">
    <div class="col-4 q-pa-sm">
      <ds-autocomplete
        label="Sample Type"
        :value="sampleType"
        :fetch-options-fn="getSampleTypes"
        :update-value-fn="setSampleValue"
        table-header-class="ds-sample-table-header"
        data-cy="autocomplete-sampleType"
      />
    </div>
    <div class="col q-pa-sm">
      <q-table
        title="Arm &amp; Epoch Selector"
        :table-header-style="{ backgroundColor: '#e8eaf5' }"
        :data="designGridBody"
        :columns="designGridHeaders"
        :pagination.sync="pagination"
        row-key="Arm"
        separator="cell"
        data-cy="table-samplePlan"
      >
        <template v-slot:body="props">
          <q-tr :props="props">
            <q-td
              v-for="(header, ix) in designGridHeaders"
              :key="header.name"
              :props="props"
            >
              <div
                v-if="header.name !== 'Arm'"
                class="q-gutter-sm"
              >
                <q-checkbox
                  :value="selectedCells[armNames[props.rowIndex]][ix-1]"
                  :label="props.row[header.name]"
                  @input="toggleCell($event, armNames[props.rowIndex], ix-1)"
                />
                <q-input
                  v-if="selectedCells[armNames[props.rowIndex]][ix-1]"
                  :value="sampleTypeSizes[armNames[props.rowIndex]][ix-1]"
                  type="number"
                  label="Nb Samples"
                  filled
                  bg-color="indigo-2"
                  :rules="[ val => val>=0 || 'Please use a positive integer']"
                  data-cy="input-nbSamples"
                  @input="setSampleTypeSize($event, armNames[props.rowIndex], ix-1)"
                />
                <q-btn
                  v-if="selectedCells[armNames[props.rowIndex]][ix-1]"
                  label="Apply to Epoch"
                  data-cy="btn-applyToEpoch"
                  @click="applyToEpoch(sampleTypeSizes[armNames[props.rowIndex]][ix-1], ix-1)"
                />
                <q-btn
                  v-if="selectedCells[armNames[props.rowIndex]][ix-1]"
                  label="Apply to Arm"
                  data-cy="btn-applyToArm"
                  @click="applyToArm(sampleTypeSizes[armNames[props.rowIndex]][ix-1], armNames[props.rowIndex])"
                />
              </div>
              <div
                v-else
                class="q-gutter-sm"
              >
                {{ props.row[header.name] }}
              </div>
            </q-td>
          </q-tr>
        </template>
      </q-table>
    </div>
  </div>
  <!--
    <div class="row">
     <div v-for="(arm, armName) in selectedCells" :key="armName">
            <div v-for="(value, index) in arm" :key="`${value}${index}`">
                {{ ` ${armName} Epoch_${index}` }} : {{ value }}
            </div>
        </div>
        <br />
    </div>
    -->
</template>

<script>
import { mapGetters } from 'vuex';
import DsAutocomplete from 'src/components/core/DsAutocomplete';
// import { zipObject } from 'lodash';
import {
  SAMPLE_TYPE_SET, SAMPLE_TYPE_SELECTED_CELL_TOGGLE, SAMPLE_TYPE_SIZE_SET,
  SAMPLE_TYPE_SIZE_APPLY_TO_ARM, SAMPLE_TYPE_SIZE_APPLY_TO_EPOCH
} from 'src/store/mutation-types';
import { getSampleTypes } from 'src/api/ols';

export const defaultData = {
  pagination: {
    sortBy: 'asc',
    descending: false,
    page: 1,
    rowsPerPage: 5
  }
};

export default {

  components: {
    DsAutocomplete
  },

  props: {
    index: {
      type: Number,
      required: true
    }
  },

  data() {
    return defaultData;
  },

  computed: {
    ...mapGetters({
      armNames: 'studyDesignPlanner/armNames',
      designGridHeaders: 'studyDesignPlanner/designGridHeaders',
      designGridBody: 'studyDesignPlanner/designGridBody',
      sampleTypeCount: 'studyDesignPlanner/sampleTypeCount',
      sampleItemByIndex: 'studyDesignPlanner/sampleItemByIndex',
      sampleSelectedCellsByIndex: 'studyDesignPlanner/sampleSelectedCellsByIndex'
    }),
    currentSampleItem: function() {
      // return this.$store.state.studyDesignPlanner.temp.samplePlan[this.index];
      return this.sampleItemByIndex(this.index);
    },
    sampleType: {
      get() {
        return this.currentSampleItem.sampleType;
      },
      set(value) {
        // TODO fix terminology between sampleType and sampleItem
        this.$store.commit(`studyDesignPlanner/${SAMPLE_TYPE_SET}`, {
          samplePlanIndex: this.index,
          sampleType: value
        });
      }
    },
    selectedCells: function() {
      return this.sampleSelectedCellsByIndex(this.index);
    },
    sampleTypeSizes: function() {
      return this.currentSampleItem.sampleTypeSizes;
    }
  },

  mounted() {
    this.pagination.rowsPerPage = this.armNames && this.armNames.length;
  },

  methods: {
    getSampleTypes,

    setSampleValue(value) {
      this.sampleType = value;
    },

    /**
         * @method
         * @name setCell
         * @description set one cell to true if the checkbox has been clickes
         */
    toggleCell(value, armName, epochIndex) {
      // console.log(SAMPLE_TYPE_SELECTED_CELL_TOGGLE);
      this.$store.commit(`studyDesignPlanner/${SAMPLE_TYPE_SELECTED_CELL_TOGGLE}`, {
        samplePlanIndex: this.index,
        armName,
        epochIndex,
        value
      });
    },

    getCell(armName, epochIndex) {
      return this.selectedCells[armName][epochIndex];
    },

    setSampleTypeSize(value, armName, epochIndex) {
      this.$store.commit(`studyDesignPlanner/${SAMPLE_TYPE_SIZE_SET}`, {
        samplePlanIndex: this.index,
        armName,
        epochIndex,
        value: Number.parseInt(value)
      });
    },
    applyToEpoch(value, epochIndex) {
      console.log(`Value: ${value}; column ${epochIndex}`);
      this.$store.commit(`studyDesignPlanner/${SAMPLE_TYPE_SIZE_APPLY_TO_EPOCH}`, {
        samplePlanIndex: this.index,
        epochIndex,
        value: Number.parseInt(value)
      });
    },
    applyToArm(value, armName) {
      console.log(`Value: ${value}; row ${armName}`);
      this.$store.commit(`studyDesignPlanner/${SAMPLE_TYPE_SIZE_APPLY_TO_ARM}`, {
        samplePlanIndex: this.index,
        armName,
        value: Number.parseInt(value)
      });
    }
  }
};
</script>

<style lang="scss" scoped>
.ds-sample-table-header {
    background-color:cadetblue;
}

.q-table__top,
.q-table__bottom,
thead tr:first-child th {
    background-color: azure;
}
/* bg color is important for th; just specify one */
</style>
