<template>
  <div>
    <p>{{ `The computed study design has ${arms.length} arms (i.e. groups).` }}</p>
    <q-table
      :columns="tableColumns"
      :data="tableData"
      :table-header-style="{ backgroundColor: '#e8eaf5' }"
      separator="cell"
      selection="multiple"
      :selected.sync="selected"
      :pagination.sync="pagination"
      row-key="Arm"
      data-cy="table-studyArmsPicker"
    >
      <template v-slot:body="props">
        <q-tr :props="props">
          <q-td>
            <q-checkbox
              v-model="props.selected"
              dense
            />
          </q-td>
          <q-td
            v-for="header in tableColumns"
            :key="header.name"
            :props="props"
          >
            <div
              v-if="header.name === 'Arm'"
              class="q-gutter-sm"
            >
              {{ props.row[header.name] }}
            </div>
            <div
              v-else-if="header.name === 'Observational Factors'"
              class="q-gutter-sm"
            >
              <q-chip
                v-for="(fval, fname) in props.row[header.name]"
                :key="fname"
              >
                {{ `${fname}: ${fval}` }}
              </q-chip>
            </div>
            <div v-else>
              <p
                class="text-h6"
                style="text-align:center"
              >
                {{ props.row.name }}
              </p>
              <q-chip
                v-if="props.row[header.name][0].agent"
                color="green"
                text-color="white"
                square
              >
                {{
                  `Agent: ${props.row[header.name][0].agent}`
                }}
              </q-chip>
              <q-chip
                v-if="props.row[header.name][0].intensity"
                color="blue"
                text-color="white"
                square
              >
                {{
                  `Intensity: ${props.row[header.name][0].intensity} ${props.row[header.name][0].intensityUnit}`
                }}
              </q-chip>
              <q-chip
                color="orange"
                text-color="white"
                square
              >
                {{
                  `Duration: ${props.row[header.name][0].duration} ${props.row[header.name][0].durationUnit}`
                }}
              </q-chip>
            </div>
          </q-td>
        </q-tr>
      </template>
    </q-table>
  </div>
</template>

<script>
import { capitalize, isEmpty, zipObject } from 'lodash';
import { mapGetters } from 'vuex';
// import { research } from '@datascriptor/core';
import {
  SELECTED_ARMS_SET
} from 'src/store/mutation-types';

export default {
  data() {
    return {
      pagination: {
        sortBy: 'asc',
        descending: false,
        page: 1,
        rowsPerPage: 10
      }
    };
  },

  computed: {
    ...mapGetters({
      arms: 'studyDesignPlanner/arms'
    }),

    elements: function() {
      return this.$store.state.studyDesignPlanner.elements;
    },
    /**
         * @function
         * @name expandedComputedStudyDesign
         * @description returns the expanded version of the study design JSON
         *
        expandedStudyDesign: function() {
            return research.StudyDesign.fromJSON(this.studyDesign).toExpandedJSON();
        }, */

    tableColumns: function() {
      const { arms, elements } = this;
      if (!arms) return null;
      const epochHeaders = isEmpty(arms) ? [] : arms[0].epochs.map(
        (epoch, epochIx) => epoch.elements.map(elemId => {
          const elem = elements.find(el => el.id === elemId);
          const { name } = elem;
          const endPos = name.indexOf('_') >= 0 ? name.indexOf('_') : undefined;
          return `Study Stage ${epochIx}: ${capitalize(name).substring(0, endPos)}`;
        }).join(', ')
      );
      return [
        'Arm',
        'Observational Factors',
        ...epochHeaders
      ].map(name => {
        return { name, label: name, field: name };
      });
    },

    tableData: function() {
      const { arms, elements = null } = this;
      if (!arms) return null;
      const res = arms.map(arm => {
        const { name, epochs = [], observationalFactors = [] } = arm;
        const characteristics = observationalFactors.reduce((obj, obsF) => {
          const value = obsF.isQuantitative ? `${obsF.value} ${obsF.unit}` : obsF.value;
          return { ...obj, [obsF.name]: value };
        }, {});
        const elemsInEpoch = epochs.map(epoch => {
          return epoch.elements.map(elemId => {
            const elem = elements.find(el => el.id === elemId);
            return elem;
          });
        });
        const colummNames = this.tableColumns.map(col => col.name);
        return zipObject(colummNames, [name, characteristics, ...elemsInEpoch]);
      });
      return res;
    },

    selected: {
      get: function() {
        const selectedArms = this.$store.state.studyDesignPlanner.arms.selected;
        return selectedArms.map(arm => this.tableData.find(row => row.Arm === arm.name));
      },
      set: function(value) {
        this.$store.commit(`studyDesignPlanner/${SELECTED_ARMS_SET}`, value);
      }
    }
  },

  mounted() {
    this.pagination.rowsPerPage = this.arms && this.arms.length;
  }
  /*
    methods: {
        onSubmit() {
            return false;
        },
        onReset() {
            this.selectedArms = Array(this.studyDesign.arms.length).fill(false);
        }
    } */
};
</script>
