<template>
  <div>
    <q-card>
    <h6>Generated Subject Groups: </h6>
    <q-table
      :columns="tableColumns"
      :data="tableData"
      :table-header-style="{ backgroundColor: '#e8eaf5' }"
      separator="cell"
      selection="multiple"
      :selected.sync="selected"
      row-key="name"
      data-cy="table-subjectGroups"
    >
      <template v-slot:body="props">
        <q-tr :props="props" class="text-italic text-purple">
          <q-td>
            <q-checkbox
              v-model="props.selected"
              dense
            />
          </q-td>
          <q-td
            v-for="header in tableColumns"
            :key="header.name"
            :props="props"

          >
            <q-chip
              color="primary"
              text-color="white"
              square
            >
              {{
                props.row[header.name]
              }}
            </q-chip>
          </q-td>
        </q-tr>
      </template>
    </q-table>
    </q-card>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import { capitalize, camelCase } from 'lodash';
import {
  SELECTED_SUBJECT_GROUPS_SET
} from 'src/store/mutation-types';

const SUBJECT_TYPE = 'Subject Type';
const GROUP_NAME = 'Group Name';

export default {

  computed: {
    ...mapGetters({
      subjectGroups: 'studyDesignPlanner/subjectGroups'
    }),
    observationalFactors: function() {
      return this.$store.state.studyDesignPlanner.observationalFactors;
    },
    tableColumns: function() {
      return [{
        name: 'name',
        field: 'name',
        label: GROUP_NAME
      }, {
        name: camelCase(SUBJECT_TYPE),
        field: camelCase(SUBJECT_TYPE),
        label: SUBJECT_TYPE
      }].concat(this.observationalFactors.map(factor => {
        return {
          name: factor.name,
          label: capitalize(factor.name),
          field: factor.name
        };
      }));
    },
    tableData: function() {
      return this.subjectGroups.map(group => group.characteristics.reduce(
        (obj, char) => {
          return { ...obj, [char.name]: char.value };
        }, {
          name: group.name,
          subjectType: group.type
        }));
    },
    selected: {
      get() {
        const { subjectGroups: { selected: selectedSubjectGroups } } = this.$store.state.studyDesignPlanner;
        return selectedSubjectGroups.map(group => this.tableData.find(row => row.name === group.name));
      },
      set(value) {
        this.$store.commit(`studyDesignPlanner/${SELECTED_SUBJECT_GROUPS_SET}`, value);
      }
    }
  }
};
</script>
