<template>
  <div class="q-pa-md ds-treatment-editor">
    <div class="row text-h5 ds-treatment-editor-head">
      <div class="q-mx-md">
        <p>Treatment {{ index + 1 }}</p>
      </div>
      <q-btn
        name="remove"
        class="q-pa-sm"
        icon="far fa-trash-alt"
        @click="remove"
      />
    </div>
    <div class="row q-col-gutter-sm">
      <q-select
        v-model="interventionType"
        name="interventionType"
        standout="bg-teal text-white"
        :options="interventionTypes"
        :rules="[required]"
        label="Intervention Type"
        emit-value
        map-options
        class="col-md-4 col-sm-6 col-xs-10"
        style="max-width: 300px"
        :data-cy="`select-interventionType_${index}`"
      />
      <q-input
        v-model="agent"
        outlined
        label="Agent"
        :rules="[required]"
        placeholder="Type the agent name here"
        class="col-md-4 col-sm-6 col-xs-10"
        style="max-width: 300px"
        :data-cy="`input-agent_${index}`"
      />
      <q-input
        v-model="intensity"
        type="number"
        :rules="[required, positive]"
        outlined
        label="Intensity"
        class="col-md-4 col-sm-6 col-xs-10"
        style="max-width: 300px"
        :data-cy="`input-intensity_${index}`"
      />
      <q-input
        v-model="intensityUnit"
        label="Intensity Unit"
        placeholder="Measure units of the intensity levels"
        :rules="[required]"
        outlined
        class="col-md-4 col-sm-6 col-xs-10"
        style="max-width: 300px"
        :data-cy="`input-intensityUnit_${index}`"
      />
      <q-input
        v-model="duration"
        type="number"
        :rules="[required, positive]"
        outlined
        label="Duration"
        class="col-md-4 col-sm-6 col-xs-10"
        style="max-width: 300px"
        :data-cy="`input-duration_${index}`"
      />
      <q-input
        v-model="durationUnit"
        label="Duration Unit"
        :rules="[required]"
        placeholder="Measure units of the intensity levels"
        outlined
        class="col-md-4 col-sm-6 col-xs-10"
        style="max-width: 300px;"
        :data-cy="`input-durationUnit_${index}`"
      />
    </div>
  </div>
</template>

<script>
import { isPlainObject } from 'lodash';
import { constants } from '@datascriptor/core';
import { processAnnotation, processAnnotations } from 'src/utils/funcs';
import { required, positive } from 'src/utils/rules';
import {
  INTERVENTION_TYPE_SET, AGENT_SET, INTENSITY_SET,
  INTENSITY_UNIT_SET, DURATION_SET, DURATION_UNIT_SET,
  REMOVE_TREATMENT
} from 'src/store/mutation-types';

const { INTERVENTION_TYPES } = constants;

export default {
  props: {
    index: {
      type: Number,
      required: true
    }
  },
  data() {
    return {
      interventionTypes: processAnnotations(INTERVENTION_TYPES)
    };
  },
  computed: {
    treatment: function() {
      return this.$store.state.studyDesignPlanner.treatmentPlan.treatments[this.index];
    },
    interventionType: {
      get() {
        return processAnnotation(this.treatment.interventionType);
      },
      set(emittedValue) {
        const value = INTERVENTION_TYPES.find(type => {
          const res = isPlainObject(type) ? type.iri === emittedValue : type === emittedValue;
          return res;
        });
        this.$store.commit(`studyDesignPlanner/${INTERVENTION_TYPE_SET}`, { value, index: this.index });
      }
    },
    agent: {
      get() {
        return this.treatment.agent;
      },
      set(value) {
        this.$store.commit(`studyDesignPlanner/${AGENT_SET}`, { value, index: this.index });
      }
    },
    intensity: {
      get() {
        return this.treatment.intensity;
      },
      set(value) {
        this.$store.commit(`studyDesignPlanner/${INTENSITY_SET}`, { value: Number.parseFloat(value), index: this.index });
      }
    },
    intensityUnit: {
      get() {
        return this.treatment.intensityUnit;
      },
      set(value) {
        this.$store.commit(`studyDesignPlanner/${INTENSITY_UNIT_SET}`, { value, index: this.index });
      }
    },
    duration: {
      get() {
        return this.treatment.duration;
      },
      set(value) {
        this.$store.commit(`studyDesignPlanner/${DURATION_SET}`, { value: Number.parseFloat(value), index: this.index });
      }
    },
    durationUnit: {
      get() {
        return this.treatment.durationUnit;
      },
      set(value) {
        this.$store.commit(`studyDesignPlanner/${DURATION_UNIT_SET}`, { value, index: this.index });
      }
    }
  },
  methods: {
    required,
    positive,
    remove: function() {
      // destroy the vue listeners, etc
      // this.$emit('deleted', this.number);
      // this.$destroy();
      this.$store.commit(`studyDesignPlanner/${REMOVE_TREATMENT}`, this.index);
      // remove the element from the DOM
      // this.$el.parentNode && this.$el.parentNode.removeChild(this.$el);
    }
  }
};
</script>

<style lang="scss" scoped>
$treatment-editor-border-radius: 8px;

.ds-treatment-editor {
    border: 0.15em solid $green;
    border-radius: $treatment-editor-border-radius;
}

.ds-treatment-editor-head {
    margin: 0 0 0.5em 0;
    color: $green;
}
</style>
