<template>
  <div>
    <div class="text-h5">
      Assay Plan
    </div>
    <p>
      <ol>
        <li> <b>Select the relevant Assay Types</b> from the preloaded library of templates (<i>selected assays will be highlighted</i>).</li>
        <li> <b>Set the assay workflow parameter values</b> to match data acquisition conditions (<b>Note:</b><i> one value MUST be selected for each parameter)</i>).</li>
        <li> <b>Set the combination of Assays to perform on Sample Types for each Study Arm </b>(a.k.a Study Group) <b>and Epoch</b> (a.k.a Study Stage).</li>
      </ol>
    </p>
    <q-form>
      <div class="q-pa-md">
        <div class="q-gutter-md row items-start q-mb-md">
          <q-select
            :options="assayConfigs"
            :value="selected"
            bg-color="light-blue-10"
            label-color="white"
            filled
            multiple
            label="Available Assay Types"
            style="width: 550px"
            stack-label
            use-chips
            data-cy="select-assayPlan"
          >
            <template v-slot:option="scope">
              <q-item
                :key="`tab_${scope.opt.name}`"
                v-ripple
                v-bind="scope.itemProps"
                :selected="selectedAssayTypes[scope.opt.name]"
                :active="selectedAssayTypes[scope.opt.name]"
                clickable
                active-class="my-menu-link"
                options-selected-class="text-deep-orange"
                size="0.8rem"
                data-cy="item-assayType"
                v-on="scope.itemEvents"
                @click="toggleAssayType(scope.opt.name)"
              >
                <q-item-section avatar>
                  <q-icon
                    :color="scope.opt.color"
                    :name="scope.opt.icon"
                  />
                </q-item-section>
                <q-item-section>
                  <q-item-label> {{ capitalize(scope.opt.name) }} </q-item-label>
                </q-item-section>
              </q-item>
            </template>
          </q-select>
        </div>
        <template>
          <div>
            <q-tabs
              v-if="selectedAssayNames.length"
              v-model="assayInTab"
              dense
            >
              <q-tab
                v-for="(assayName,index) in selectedAssayNames"
                :key="index"
                :name="assayName"
                :label="assayName"
                class="ds-tab ellipsis q-px-sm"
              />
            </q-tabs>
            <q-separator />
            <q-tab-panels
              v-model="assayInTab"
              transition-prev="jump-up"
              transition-next="jump-up"
            >
              <q-tab-panel
                v-for="(assayName,index) in selectedAssayNames"
                :key="index"
                :name="assayName"
              >
                <div class="text-h6 q-mb-md constrain">
                  <assay-editor
                    :key="index"
                    :name="assayName"
                  />
                </div>
              </q-tab-panel>
            </q-tab-panels>
          </div>
        </template>
      </div>
    </q-form>
  </div>
</template>

<script>
import { keys, pickBy, isEmpty, capitalize } from 'lodash';
import { mapGetters } from 'vuex';
import AssayEditor from 'src/components/studyDesignEditor/subcomponents/AssayEditor';
import {
  ASSAY_TYPE_SELECT, ASSAY_TYPE_DESELECT, ASSAY_IN_TAB_SET
} from 'src/store/mutation-types';

export default {

  components: {
    AssayEditor
  },

  data() {
    return {
      tab: 'assayName',
      splitterModel: 30,
      selected: []
    };
  },

  computed: {
    ...mapGetters({
      assayTypeCount: 'studyDesignPlanner/assayTypeCount',
      selectedAssayTypes: 'studyDesignPlanner/selectedAssayTypes'
    }),
    assayConfigs: function() {
      return this.$store.state.studyDesignPlanner.assayConfigs;
    },
    selectedAssayNames: function() {
      return keys(pickBy(this.selectedAssayTypes));
    },
    hasSelectedAssayTypes: function() {
      return !isEmpty(this.selectedAssayNames);
    },
    assayInTab: {
      get() {
        return this.$store.state.studyDesignPlanner.assayInTab;
      },
      set(assayName) {
        this.$store.commit(`studyDesignPlanner/${ASSAY_IN_TAB_SET}`, assayName);
      }
    }
  },

  mounted() {
    this.$store.dispatch('studyDesignPlanner/retrieveAssayConfigs');
  },

  methods: {
    capitalize,
    toggleAssayType(assayTypeName) {
      this.$store.commit(`studyDesignPlanner/${!this.selectedAssayNames.includes(assayTypeName) ? ASSAY_TYPE_SELECT : ASSAY_TYPE_DESELECT}`, assayTypeName);
      if (!this.assayInTab && this.selectedAssayNames.length > 0) {
        this.$store.commit(`studyDesignPlanner/${ASSAY_IN_TAB_SET}`, assayTypeName);
      }
    }
  }
};
</script>

<style lang="scss">
.my-menu-link {
  color: white;
  background: #F2C037;
}
.ds-tab {
    max-width: 400px;
}
.ds-tab div {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.q-tab__label {
    width: fit-content;
}
</style>
