<template>
  <div>
    <div class="text-h5 q-mb-md">
      Sampling Plan
    </div>
    <p>
      For each <b>Study Arm</b> (a.k.a <i><u>Study Group</u></i>) and <b>Epoch</b>  (a.k.a <i><u>Study Stage</u></i>), specify which <b>Sample Types</b> and how many of each will be collected.
    </p>
    <p>
      <i> (Note: Ontology lookup is available when providing Sample Type information)</i>
    </p>
    <q-form>
      <sample-editor
        v-for="i in sampleTypeCount"
        :key="i"
        :index="i-1"
      />
      <q-btn
        class="q-pa-sm"
        icon="add"
        data-cy="btn-addSampleType"
        @click="addSample"
      />
    </q-form>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import SampleEditor from 'src/components/studyDesignEditor/subcomponents/SampleEditor';

export default {

  components: {
    SampleEditor
  },

  data() {
    return {};
  },

  computed: {
    ...mapGetters({
      sampleTypeCount: 'studyDesignPlanner/sampleTypeCount'
    })
  },

  methods: {
    addSample() {
      this.$store.dispatch('studyDesignPlanner/addSamplePlanItem');
    }
  }
};
</script>
