<template>
  <div class="constrain">
    <h5>Study Description and Specification</h5>
    <q-form
      class="q-gutter-md"
      @submit="onSubmit"
      @reset="onReset"
    >
      <q-card>
        <q-input
          v-model="name"
          name="studyName"
          label="Study Name"
          placeholder="The title or headline of the study"
          bg-color="indigo-2"
          standout
          :rules="[required]"
        >
        <!--
        <q-tooltip
          class="gt-xs"
          :offset="[10, 10]"
          anchor="center right"
          color="yellow"
          self="center left"
        >
          <strong>The title or headline of the Study</strong> (<q-icon name="keyboard_arrow_up" />)
        </q-tooltip>
        -->
        </q-input>
        <q-input
          v-model="description"
          name="studyDescription"
          label="Study Description"
          type="textarea"
          placeholder="A short textual description of the study"
          bg-color="indigo-2"
          standout
        >
        <!--
        <q-tooltip
          class="gt-xs"
          :offset="[10, 10]"
          anchor="center right"
          color="yellow"
          self="center left"
        >
          <strong>A short textual description of the Study</strong> (<q-icon name="keyboard_arrow_up" />)
        </q-tooltip>
        -->
        </q-input>
        <br>
        <div class="q-gutter-md">
          <q-select
            v-model="designType"
            name="studyDesignType"
            class="q-m-b-md"
            standout="bg-light-blue-9 text-white"
            :options="studyDesignTypes"
            :rules="[required]"
            label="Study Design Type"
            map-options
            data-cy="select-studyDesignType"
          />
        <!--
        <q-badge
          color="indigo-3"
          text-color="lightgrey"
          multi-line
          :transparent="true"
        >
          user input: "{{ designType }}"
        </q-badge>
        -->
        </div>
      </q-card>
      <q-card>
        <h6>Define Study Populations</h6>
        <ds-autocomplete
          :value="subjectType"
          label="Subject Type"
          :rules="[required]"
          :fetch-options-fn="getSubjectTypes"
          :update-value-fn="setSubjectType"
          data-cy="select-subjectType"
        />
        <q-input
          v-model.number="subjectSize"
          :rules="[required, positive]"
          bg-color="indigo-1"
          label="Study Group Size"
          placeholder="The number of Study Subjects assigned to each group"
          type="number"
          standout
          data-cy="input-groupSize"
        >
        <!--
        <q-tooltip
          anchor="center right"
          self="center left"
          :offset="[10, 10]"
          color="yellow"
        >
          <strong>The number of Study Subjects assigned to each group</strong>)
        </q-tooltip>
        -->
        </q-input>
        <div class="q-gutter-md">
          <p class="text-h6">
            Set Additional Study Subject Characteristics
          </p>

          <div class="row q-col-gutter-sm">
            <div
              v-for="(obsF, obsFIx) in observationalFactors"
              :key="'obsF_' + obsFIx"
              class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4"
            >
              <q-card class="full-height">
                <q-card-section>
                  <factor-editor :index="obsFIx" />
                </q-card-section>
              </q-card>
            </div>
          </div>
          <div class="row q-gutter-sm">
            <q-btn
              class="q-pa-sm"
              label="add Subject Characteristic"
              icon-right="add"
              data-cy="btn-addObservationalFactor"
              @click="addObservationalFactor"
            />
          </div>
          <br>
        </div>
        <div class="q-m-md q-gutter-sm">
          <q-btn
            :disable="disableGenerateSubjectGroups()"
            label="Generate groups"
            type="submit"
            color="primary"
            data-cy="btn-generateSubjectGroups"
          />
          <q-btn
            label="Reset"
            type="reset"
            color="secondary"
            data-cy="btn-reset"
          />
        </div>
        <br>
      </q-card>
    </q-form>
    <div
      v-if="hasGeneratedSubjectGroups"
      class="q-m-md q-gutter-sm"
    >
      <subject-groups-picker />
    </div>
    <!-- TODO move this Mermaid Renderer outside the "stepper" in some panel of its own
        <div v-if="hasStudy" class="q-m-md q-gutter-sm">
            <study-renderer />
        </div>
         -->
  </div>
</template>

<script>
import { isEmpty } from 'lodash';
import { constants } from '@datascriptor/core';
import { mapGetters } from 'vuex';
import { getSubjectTypes } from 'src/api/ols';
import {
  NAME_SET, DESCRIPTION_SET, DESIGN_TYPE_SET,
  SUBJECT_TYPE_SET, SUBJECT_SIZE_SET,
  OBSERVATIONAL_FACTOR_ADD
} from 'src/store/mutation-types';
import DsAutocomplete from 'src/components/core/DsAutocomplete';
import FactorEditor from 'src/components/studyDesignEditor/subcomponents/FactorEditor';
import SubjectGroupsPicker from 'src/components/studyDesignEditor/subcomponents/SubjectGroupsPicker';
import { required, positive } from 'src/utils/rules';

export default {

  components: {
    DsAutocomplete,
    FactorEditor,
    SubjectGroupsPicker
  },

  data() {
    return {
      studyDesignTypes: [
        constants.FULL_FACTORIAL_DESIGN_TYPE,
        constants.CROSSOVER_DESIGN_TYPE,
        constants.OBSERVATIONAL_DESIGN_TYPE
      ],
      subjectTypes: []
    };
  },

  computed: {
    ...mapGetters({
      hasGeneratedSubjectGroups: 'studyDesignPlanner/hasGeneratedSubjectGroups',
      observationalFactorCount: 'studyDesignPlanner/observationalFactorCount'
    }),
    observationalFactors: function() {
      return this.$store.state.studyDesignPlanner.observationalFactors;
    },
    name: {
      get() {
        return this.$store.state.studyDesignPlanner.name;
      },
      set(value) {
        this.$store.commit(`studyDesignPlanner/${NAME_SET}`, value);
      }
    },
    description: {
      get() {
        return this.$store.state.studyDesignPlanner.description;
      },
      set(value) {
        this.$store.commit(`studyDesignPlanner/${DESCRIPTION_SET}`, value);
      }
    },
    designType: {
      get() {
        return this.$store.state.studyDesignPlanner.designType;
      },
      set(value) {
        this.$store.commit(`studyDesignPlanner/${DESIGN_TYPE_SET}`, value);
      }
    },
    subjectType: {
      get() {
        return this.$store.state.studyDesignPlanner.subjectType;
      },
      set(value) {
        this.$store.commit(`studyDesignPlanner/${SUBJECT_TYPE_SET}`, value);
      }
    },
    subjectSize: {
      get() {
        return this.$store.state.studyDesignPlanner.subjectSize;
      },
      set(value) {
        this.$store.commit(`studyDesignPlanner/${SUBJECT_SIZE_SET}`, value);
      }
    },
    generatedSubjectGroups: function() {
      return this.$store.state.studyDesignPlanner.temp.generatedSubjectGroups;
    }
  },

  methods: {

    required,
    positive,
    getSubjectTypes,

    addObservationalFactor() {
      this.$store.commit(`studyDesignPlanner/${OBSERVATIONAL_FACTOR_ADD}`);
    },

    setSubjectType(value) {
      this.subjectType = value;
    },

    /**
         * @method
         * @name disableGenerateSubjectGroups
         * @description disables the generation of subject groups if certain criteria
         *              are not met
         */
    disableGenerateSubjectGroups() {
      return isEmpty(this.name) || isEmpty(this.designType) || isEmpty(this.subjectType);
    },

    async onSubmit() {
      this.$store.dispatch('studyDesignPlanner/generateSubjectGroups');
    },

    onReset() {}
  }

};
</script>

<style scope>
.q-card__section--vert {
    padding-top: 16px;
}
</style>
