<template>
  <div>
    <div class="text-h5 q-mb-md">
      Treatment Plan and Arms Selection
    </div>
    <q-form
      style="max-width: 800px"
      @submit="onSubmit"
      @reset="onReset"
    >
      <div v-if="designType === 'fullFactorial'">
        <factorial-design ref="treatmentPlan" />
      </div>
      <div v-if="designType === 'crossover'">
        <crossover-design ref="treatmentPlan" />
      </div>
      <div v-if="designType === 'observational'">
        <observational-design ref="treatmentPlan" />
      </div>
      <br>
      <div class="q-m-md q-gutter-sm">
        <q-btn
          label="Generate Study Arms (Treatment Groups)"
          type="submit"
          color="primary"
          data-cy="btn-generateStudyArms"
        />
        <q-btn
          label="Reset"
          type="reset"
          color="secondary"
        />
      </div>
    </q-form>
    <div
      v-if="hasGeneratedStudyDesign"
      class="q-m-md q-gutter-sm"
    >
      <study-arms-picker />
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import FactorialDesign from 'src/components/studyDesignEditor/subcomponents/FactorialDesign';
import CrossoverDesign from 'src/components/studyDesignEditor/subcomponents/CrossoverDesign';
import StudyArmsPicker from 'src/components/studyDesignEditor/subcomponents/StudyArmsPicker';
import ObservationalDesign from 'src/components/studyDesignEditor/subcomponents/ObservationalDesign';

export default {

  components: {
    FactorialDesign,
    CrossoverDesign,
    StudyArmsPicker,
    ObservationalDesign
  },

  data() {
    return {};
  },

  computed: {
    ...mapGetters({
      hasGeneratedStudyDesign: 'studyDesignPlanner/hasGeneratedStudyDesign',
      observationalFactorCount: 'studyDesignPlanner/observationalFactorCount'
    }),
    name: {
      get() {
        return this.$store.state.studyDesignPlanner.name;
      }
    },
    description: {
      get() {
        return this.$store.state.studyDesignPlanner.description;
      }
    },
    subjectType: {
      get() {
        return this.$store.state.studyDesignPlanner.subjectType;
      }
    },
    subjectSize: {
      get() {
        return this.$store.state.studyDesignPlanner.subjectSize;
      }
    },
    subjectGroups: function() {
      return this.$store.state.studyDesignPlanner.subjectGroups.selected;
    },
    designType: function() {
      return this.$store.state.studyDesignPlanner.designType.value;
    },
    treatmentType: {
      get() {
        return this.$store.state.studyDesignPlanner.treatmentType;
      },
      set(value) {}
    }
  },

  methods: {

    onSubmit() {
      function filterNonTreatmentElement(element) {
        if (element && element.duration) {
          return element;
        } else return null;
      }
      const treatmentPlan = this.$store.state.studyDesignPlanner.treatmentPlan;
      const payload = {
        name: this.name,
        description: this.description,
        subjectType: this.subjectType,
        size: this.subjectSize,
        observationalGroups: this.subjectGroups,
        type: this.designType,
        screen: filterNonTreatmentElement(treatmentPlan.screen),
        runIn: filterNonTreatmentElement(treatmentPlan.runIn),
        washout: filterNonTreatmentElement(treatmentPlan.washout),
        followUp: filterNonTreatmentElement(treatmentPlan.followUp),
        treatments: treatmentPlan.treatments.map((treatment, index) => {
          return {
            name: `treatment_${index}`,
            ...treatment
          };
        }),
        elementParams: treatmentPlan.elementParams
      };
      if (this.designType === 'observational') {
        payload.observationPeriod = filterNonTreatmentElement(treatmentPlan.observationPeriod);
      }
      this.$store.dispatch('studyDesignPlanner/generateArms', payload);
    },
    onReset() {}
  }

};
</script>
