<template>
  <q-page
    class="window-height window-width row justify-center items-center ds-login-page"
  >
    <div
      v-if="isRegistration"
      class="column q-pa-lg"
    >
      <div class="row">
        <q-card
          square
          class="shadow-24"
          style="width: 360px; height: 485px"
        >
          <q-card-section class="bg-primary">
            <div class="text-h4 text-center text-bold text-white q-my-md">
              Register
            </div>
          </q-card-section>
          <q-card-section>
            <q-form class="q-px-sm q-py-lg">
              <q-input
                v-model="signUp.email"
                square
                clearable
                type="email"
                label="Email"
              >
                <template v-slot:prepend>
                  <q-icon name="email" />
                </template>
              </q-input>
              <q-input
                v-model="signUp.username"
                square
                clearable
                type="username"
                label="Username"
              >
                <template v-slot:prepend>
                  <q-icon name="person" />
                </template>
              </q-input>
              <q-input
                v-model="signUp.password"
                square
                clearable
                type="password"
                label="Password"
              >
                <template v-slot:prepend>
                  <q-icon name="lock" />
                </template>
              </q-input>
            </q-form>
          </q-card-section>
          <q-card-actions class="q-px-lg">
            <q-btn
              class="full-width text-white"
              color="secondary"
              label="Sign Up"
              size="lg"
              unelevated
              @click="register"
            />
          </q-card-actions>
          <q-card-section class="text-center q-pa-sm">
            <q-btn
              unelevated
              flat
              size="lg"
              color="secondary"
              label="Return to Login"
              @click="isRegistration = false"
            />
          </q-card-section>
        </q-card>
      </div>
    </div>
    <div
      v-else-if="isPasswordReset"
      class="column q-pa-lg"
    >
      <div class="row">
        <q-card
          square
          class="shadow-24"
          style="width: 360px; height: 485px"
        >
          <q-card-section class="bg-primary">
            <div class="text-h4 text-center text-bold text-white q-my-md">
              Register
            </div>
          </q-card-section>
          <q-card-section>
            <q-form class="q-px-sm q-py-lg">
              <q-input
                v-model="passwordReset.email"
                square
                clearable
                type="email"
                label="Email"
              >
                <template v-slot:prepend>
                  <q-icon name="email" />
                </template>
              </q-input>
            </q-form>
          </q-card-section>
          <q-card-actions class="q-px-lg">
            <q-btn
              class="full-width text-white"
              color="secondary"
              label="Generate Reset Link"
              size="lg"
              unelevated
              @click="generatePwResetLink"
            />
          </q-card-actions>
          <q-card-section class="text-center q-pa-sm">
            <q-btn
              unelevated
              flat
              size="lg"
              color="secondary"
              label="Return to Login"
              @click="isPasswordReset = false"
            />
          </q-card-section>
        </q-card>
      </div>
    </div>
    <div
      v-else
      class="column q-pa-lg"
    >
      <div class="row">
        <q-card
          square
          class="shadow-24"
          style="width: 360px; height: 485px"
        >
          <q-card-section class="bg-primary">
            <div class="text-h4 text-bold text-white text-center q-my-md">
              Log In
            </div>
          </q-card-section>
          <q-card-section>
            <q-form class="q-px-sm q-pt-lg">
              <q-input
                v-model="signIn.email"
                square
                clearable
                type="email"
                label="Email"
              >
                <template v-slot:prepend>
                  <q-icon name="email" />
                </template>
              </q-input>
              <q-input
                v-model="signIn.password"
                square
                clearable
                type="password"
                label="Password"
              >
                <template v-slot:prepend>
                  <q-icon name="lock" />
                </template>
              </q-input>
            </q-form>
          </q-card-section>
          <q-card-section>
            <div class="text-center q-pa-md q-gutter-md">
            <q-btn
              round
              color="green"
              type="a"
              :href="orcidAuthRequestUrl()"
            >
              <q-icon
                name="fab fa-orcid"
                size="1.2rem"
              />
            </q-btn>
              <!--<q-btn round color="red-8">
                <q-icon name="fab fa-google-plus-g" size="1.2rem" />
              </q-btn>
              <q-btn round color="light-blue-5">
                <q-icon name="fab fa-twitter" size="1.2rem" />
              </q-btn>
              -->
            </div>
          </q-card-section>
          <q-card-actions class="q-px-lg">
            <q-btn
              unelevated
              size="lg"
              color="secondary"
              class="full-width text-white"
              label="Sign In"
              @click="logIn"
            />
          </q-card-actions>
          <q-card-section class="text-center q-pa-sm">
            <q-btn
              color="secondary"
              label="Forgot your password?"
              flat
              @click="isPasswordReset = true"
            />
            <q-btn
              unelevated
              flat
              size="lg"
              color="secondary"
              label="Click to Register"
              @click="isRegistration = true"
            />
          </q-card-section>
        </q-card>
      </div>
    </div>
  </q-page>
</template>

<script>
import userApi from 'src/api/user';

export const defaultData = {
  signIn: {
    email: '',
    password: ''
  },
  signUp: {
    email: '',
    username: '',
    password: ''
  },
  passwordReset: {
    email: ''
  },
  isRegistration: false,
  isPasswordReset: false
};

export default {
  name: 'Login',
  data() {
    return defaultData;
  },
  methods: {
    async logIn() {
      try {
        const { email, password } = this.signIn;
        const { data: { user, token } } = await userApi.signIn(email, password);
        this.$store.dispatch('auth/setCredentials', { user, token });
        this.$router.push('/');
      } catch (err) {
        this.$q.dialog({
          title: 'User Login Failed.',
          message: err.message || 'Login failed. Please try again.'
        });
      }
    },
    async register() {
      try {
        const { username, email, password } = this.signUp;
        const { data: { user, token } } = await userApi.signUp(username, email, password);
        this.$store.dispatch('auth/setCredentials', { user, token });
        this.$router.push('/');
      } catch (err) {
        this.$q.dialog({
          title: 'User Registration Failed.',
          message: err.message || 'Registration failed. Please try again.'
        });
      }
    },
    async generatePwResetLink() {
      try {
        const { email } = this.passwordReset;
        await userApi.generatePwResetLink(email);
        this.$q.dialog({
          title: 'Password Reset Link Generated.',
          message: 'Please check you email. We have sent you a link to reset your password'
        });
        this.isPasswordReset = false;
      } catch (err) {
        this.$q.dialog({
          title: 'Password Reset Failed.',
          message: err.message || 'Password reset failed. Please try again.'
        });
      }
    },
    orcidAuthRequestUrl: function() {
      console.log(process.env);
      return process.env.ORCID_OAUTH_REQUEST_URL;
    }
  }
};
</script>
<style lang="scss" scoped>
.ds-login-page {
    background: linear-gradient(#82a13a, #69a039);
}
</style>
