<template>
  <h5 class="q-ma-lg">hello {{ username }}</h5>
</template>

<script>
export default {
  name: 'PageOauthRedirect',
  computed: {
    username() {
      return this.$route.query.name;
    }
  },

  mounted() {
    const { token, ...user } = this.$route.query;
    this.$store.dispatch('auth/setCredentials', { user, token });
    this.$router.push('/');
  }

};
</script>

<style scoped>

</style>
