<template>
  <q-page class="q-pb-sm constrain-looser">
    <div class="q-pb-md">
      <q-parallax
        :height="400"
        :speed="0.5"
      >
        <template v-slot:media>
          <img src="images/mol-cell-biol-bsc-banner.jpg">
        </template>
        <div class="title-cnt">
          <h2 class="bg-secondary text-white text-center">
            From Data to Publication
          </h2>
          <h5 class="bg-secondary text-white text-center">
            We will generate the backbone of a research paper for you.
          </h5>
        </div>
      </q-parallax>
    </div>
    <div>
      <studies-view :grid="false" />
    </div>
    <div>
      <div class="large-screen-only q-pa-md">
        <div class="q-gutter-md">
          <q-carousel
            v-model="slide"
            transition-prev="jump-right"
            transition-next="jump-left"
            swipeable
            animated
            control-color="white"
            prev-icon="arrow_left"
            next-icon="arrow_right"
            navigation-icon="radio_button_checked"
            navigation
            padding
            arrows
            height="300px"
            class="bg-secondary shadow-1 rounded-borders"
          >
            <q-carousel-slide
              name="style"
              class="column no-wrap flex-center"
            >
              <div class="q-mt-md text-center">
                <h6>Provide core article metadata (file upload or manual entry)</h6>
                <q-btn
                  color="yellow-7"
                  clickable
                  to="/articleMetadataEdit"
                >
                  <q-icon
                    name="style"
                    left
                    size="3em"
                  />
                  <div>Go</div>
                </q-btn>
              </div>
            </q-carousel-slide>
            <q-carousel-slide
              name="tv"
              class="column no-wrap flex-center"
            >
              <div class="q-mt-md text-center">
                <h6>Create a new Experimental Plan with our Study Design Planner</h6>
                <q-btn
                  color="yellow-8"
                  clickable
                  to="/studyDesignPlanner"
                >
                  <q-icon
                    name="tv"
                    left
                    size="3em"
                  />
                  <div>Go</div>
                </q-btn>
              </div>
            </q-carousel-slide>
            <q-carousel-slide
              name="layers"
              class="column no-wrap flex-center"
            >
              <div class="q-mt-md text-center">
                <h6>Upload Study metadata in ISA-JSON format</h6>
                <q-btn
                  color="yellow-9"
                  clickable
                  to="/jsonSubmissionAlt"
                >
                  <q-icon
                    name="layers"
                    left
                    size="3em"
                  />
                  <div>Go</div>
                </q-btn>
              </div>
            </q-carousel-slide>
            <q-carousel-slide
              name="map"
              class="column no-wrap flex-center"
            >
              <div class="q-mt-md text-center">
                <h6>Upload analytical results as Frictionless Tabular package or CSV, TSV document</h6>
                <q-btn
                  color="yellow-10"
                  clickable
                  to="/jsonSubmissionAlt"
                >
                  <q-icon
                    name="terrain"
                    left
                    size="3em"
                  />
                  <div>Go</div>
                </q-btn>
              </div>
            </q-carousel-slide>
          </q-carousel>
        </div>
      </div>
    </div>
  </q-page>
</template>

<script>
import StudiesView from 'src/components/studies/StudiesView';
export default {
  components: {
    StudiesView
  },
  data() {
    return {
      slide: 'style'
    };
  }
};
</script>

<style>
div {
  font-family: "Avenir", Avenir, serif;
}
li {
  /*font-style: italic;*/
  font-weight: bolder;
  /*color: #300861;*/
  color: #8038d1!important;
  /*color: #fc7a4a!important;*/
}

h2,h5 {
  opacity:0.8;
  /* color: white; */
}

.title-cnt {
    text-align:center;
}
</style>
