<template>
  <q-page class="ds-page constrain-looser">
    <div class="q-pa-sm">
      <studies-view :grid="true" />
    </div>
  </q-page>
</template>

<script>
import StudiesView from 'src/components/studies/StudiesView';

export default {
  components: {
    StudiesView
  }
};
</script>
