<template>
  <q-page
    class="window-height window-width row justify-center items-center ds-pwreset-page"
  >
    <div class="row">
      <q-card
        square
        class="shadow-24"
        style="width: 360px; height: 485px"
      >
        <q-card-section class="bg-primary">
          <div class="text-h4 text-bold text-white text-center q-my-md">
            Password Reset
          </div>
        </q-card-section>
        <q-card-section v-if="error">
          <q-banner
            inline-actions
            class="text-white bg-red"
          >
            {{ error.title }}
          </q-banner>
        </q-card-section>
        <q-card-section v-if="success">
          <q-banner
            inline-actions
            class="text-white bg-primary"
          >
            The password has been successfully reset. You will be redirect to the login page in 5 seconds.
          </q-banner>
        </q-card-section>
        <q-card-section>
          <q-form class="q-px-sm q-pt-lg">
            <q-input
              v-model="password"
              square
              clearable
              type="password"
              label="Password"
            >
              <template v-slot:prepend>
                <q-icon name="lock" />
              </template>
            </q-input>
            <q-input
              v-model="confirmPassword"
              square
              clearable
              type="password"
              label="Confirm Password"
            >
              <template v-slot:prepend>
                <q-icon name="lock" />
              </template>
            </q-input>
          </q-form>
        </q-card-section>
        <q-card-actions class="q-px-lg">
          <q-btn
            :disable="!canSubmit"
            unelevated
            size="lg"
            color="secondary"
            class="full-width text-white"
            label="Sign In"
            @click="renewPassword"
          />
        </q-card-actions>
      </q-card>
    </div>
  </q-page>
</template>

<script>
import { resetPassword } from 'src/api/user';

export default {
  data() {
    return {
      password: '',
      confirmPassword: '',
      error: null,
      success: false
    };
  },
  computed: {
    token: function() {
      return this.$route.query.token;
    },
    canSubmit: function() {
      // TODO: we can strengthen this later on
      return this.password.length >= 8 && this.password === this.confirmPassword;
    }
  },
  methods: {
    async renewPassword() {
      this.success = false;
      this.error = null;
      try {
        await resetPassword(this.password, this.token);
        this.success = true;
        setTimeout(() => {
          this.$router.push({
            path: '/login'
          });
        }, 5000);
      } catch (e) {
        console.log(e);
        this.error = e;
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.ds-pwreset-page {
    background: linear-gradient(#abbf7e, #82a13a);
}
</style>
