<template>
  <q-page class="q-pa-sm">
    <q-banner
      rounded
      inline-actions
      class="text-white bg-yellow-10"
    >
      <h4>Scholarly Article Metadata</h4>
    </q-banner>
    <br>

    <!--      <p>-->
    <!--          <ul>-->
    <!--            <li>Fill or upload information about the Article you are writing.</li>-->
    <!--            <li>The information will be saved in a schema.org based JSON-LD metadata profile.</li>-->
    <!--            <li>Journals and publishers will be able to use it seamlessly.</li>-->
    <!--          </ul>-->
    <!--      <br/>-->
    <!--      <p/>-->

    <!--        <h5>You can fill the form or upload a file</h5>-->
    <!--
        <q-list>
            <q-item>
                <q-item-label>Filling a form</q-item-label>
            </q-item>
            <q-item>
                <q-item-label>Uploading a text file</q-item-label>
            </q-item>
        </q-list>
        -->
    <div>
      <scholarly-article-metadata-form />
    </div>
  </q-page>
</template>

<script>
import ScholarlyArticleMetadataForm from 'src/components/ScholarlyArticleMetadataForm';

export default {
  components: {
    ScholarlyArticleMetadataForm
  }
};
</script>

<style>
div {
  font-family: "Avenir", Avenir, serif;
}
li {
  /*font-style: italic;*/
  font-weight: bolder;
  /*color: #300861;*/
  color: #8038d1!important;
  /*color: #fc7a4a!important;*/
}
</style>
