<template>
  <div class="q-gutter-md">
    <q-card class="my-card">
      <q-card-section>
        <div class="text-h6">
          {{ scholarlyArticle.name }}
        </div>
        <div class="text-subtitle2">
          {{ scholarlyArticle.authors.join(', ') }}
        </div>
      </q-card-section>

      <q-card-section class="q-pt-none">
        {{ scholarlyArticle.abstract }}
      </q-card-section>
    </q-card>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {

  computed: {
    ...mapGetters({
      scholarlyArticle: 'publication/scholarlyArticle'
    })
  }

};
</script>
