<template>
  <q-page class="ds-page constrain-looser">
    <div
      v-if="showSpinner"
      class="row"
    >
      <q-spinner-hourglass
        color="purple"
        size="6em"
      />
    </div>
    <div v-else>
      <q-card
        flat
        bordered
        class="ds-study-card"
      >
        <q-card-section>
          <div class="text-h4 text-primary ds-study-header">
            {{ study.name }}
          </div>
          <q-chip class="bg-primary text-white">
            <b>{{ `Study ID: ${$route.params.id}` }}</b>
          </q-chip>
        </q-card-section>

        <q-separator />

        <q-card-section>
          <div class="text-h6 text-primary">
            Description
          </div>
          <p>{{ study.description }}</p>
        </q-card-section>
        <q-separator inset />
        <q-card-section>
          <div>
            <span class="text-h6 text-primary">Design type:</span>
            <span class="text-subtitle1 q-ml-sm">{{ designType.label }}</span>
          </div>
          <q-chip class="bg-secondary text-white">
            {{ designType.iri }}
          </q-chip>
        </q-card-section>
        <q-card-section>
          <div>
            <span class="text-h6 text-primary">Subject type:</span>
            <span class="text-subtitle1 q-ml-sm">{{ subjectTypeLabel }}</span>
          </div>
          <q-chip
            v-if="subjectTypeIri"
            class="bg-secondary text-white"
          >
            {{ subjectTypeIri }}
          </q-chip>
        </q-card-section>
        <q-card-section v-if="hasObservationalFactors">
          <div class="text-h6 text-primary">
            Observational Factors:
          </div>
          <q-list>
            <q-item
              v-for="(oF, ix) in design.observationalFactors"
              :key="ix"
              v-ripple
              clickable
            >
              <q-item-section>
                <div class="row">
                  <div class="col-2 ds-h6-subtitle ds-subtitle-padding">
                    {{ capitalize(oF.name) }}
                  </div>
                  <div class="col-10">
                    <q-chip
                      v-for="(ofVal, jx) in oF.values"
                      :key="jx"
                    >
                      {{ oF.unit ? `${ofVal} ${oF.unit}` : ofVal }}
                    </q-chip>
                  </div>
                </div>
              </q-item-section>
            </q-item>
          </q-list>
        </q-card-section>
        <q-card-section v-if="hasTreatments">
          <div class="text-h6 text-primary">
            Treatments:
          </div>
          <q-list>
            <q-item
              v-for="(treat, ix) in treatments"
              :key="ix"
              v-ripple
              clickable
            >
              <q-item-section>
                <div class="row">
                  <div class="col-2 ds-h6-subtitle">
                    {{ `Treatment ${treat.name}` }}
                  </div>
                  <q-chip class="bg-secondary text-white">
                    {{ `${treat.interventionType.label}: ${treat.interventionType.obo_id }` }}
                  </q-chip>
                </div>
                <div class="row">
                  <div class="col-2 ds-h6-subtitle">
                    Treatment factors:
                  </div>
                  <q-chip>{{ `Agent: ${treat.agent}` }}</q-chip>
                  <q-chip>{{ `Intensity: ${treat.intensity} ${treat.intensityUnit}` }}</q-chip>
                  <q-chip>{{ `Duration: ${treat.duration} ${treat.durationUnit}` }}</q-chip>
                </div>
              </q-item-section>
            </q-item>
          </q-list>
        </q-card-section>
        <q-card-section v-if="hasArms">
          <div class="text-h6 text-primary">
            Study Arms (i.e. Groups):
          </div>
          <study-arms-renderer
            :arms="studyArms"
            :elements="designElements"
          />
        </q-card-section>
      </q-card>
      <!-- Assays card -->
      <q-card v-if="hasAssayPlan">
        <assay-renderer
          :assay-plan="assayPlan"
        />
      </q-card>
    </div>
  </q-page>
</template>

<script>
import { mapState } from 'vuex';
import { capitalize, isEmpty, isObject } from 'lodash';
import { RESEARCH_RESET_ALL } from 'src/store/mutation-types';
import StudyArmsRenderer from 'src/components/studyView/StudyArmsRenderer';
import AssayRenderer from 'src/components/studyView/AssayRenderer';

const SPURIOUS_TREATMENT_KEYS = new Set(['_id', 'interventionType']);

export default {
  components: {
    StudyArmsRenderer,
    AssayRenderer
  },
  data() {
    return {
      assayInTab: null
    };
  },
  computed: {
    ...mapState('research', {
      study: state => state.study,
      error: state => state.fetchStudyError,
      isPending: state => state.isPending
    }),
    showSpinner: function() {
      return this.isPending || isEmpty(this.study);
    },
    design: function() {
      const { study: { design = {} } = {} } = this;
      return design;
    },
    designType: function() {
      const { designType = {} } = this.design;
      return designType;
    },
    designElements: function() {
      const { elements = [] } = this.design;
      return elements;
    },
    subjectTypeLabel: function() {
      const { subjectType } = this.design;
      return isObject(subjectType) ? subjectType.label : subjectType;
    },
    subjectTypeIri: function() {
      const { subjectType } = this.design;
      return isObject(subjectType) ? subjectType.iri : null;
    },
    hasObservationalFactors: function() {
      return !isEmpty(this.design.observationalFactors);
    },
    treatments: function() {
      const { treatmentPlan: { treatments = [] } = {} } = this.design;
      return treatments.filter(treatment => treatment.agent);
    },
    hasTreatments: function() {
      return !isEmpty(this.treatments);
    },
    studyArms: function() {
      const { arms: { selected = [] } = {} } = this.design;
      return selected;
    },
    hasArms: function() {
      return !isEmpty(this.studyArms);
    },
    assayPlan: function() {
      const { assayPlan = [] } = this.design;
      return assayPlan;
    },
    hasAssayPlan: function() {
      return !isEmpty(this.assayPlan);
    }
  },
  watch: {
    assayPlan: function(val) {
      this.assayInTab = isEmpty(val) ? null : val[0].name;
    }
  },
  mounted() {
    // somehow place a spinner on the page
    this.$store.dispatch('research/getStudy', this.$route.params.id);
  },
  destroyed() {
    this.$store.commit(`research/${RESEARCH_RESET_ALL}`);
  },
  methods: {
    capitalize,
    /**
         * @description removes the key 'interventionType' from the obj if present
         */
    removeSpuriousTreatmentKeys: function(obj) {
      return Object.entries(obj).reduce((o, [key, val]) => {
        return SPURIOUS_TREATMENT_KEYS.has(key) ? o : { ...o, [key]: val };
      }, {});
    }
  }
};
</script>

<style lang="scss" scoped>
.ds-study-header {
    /*@extend .text-h4;
    @extend .text-primary;*/
    font-weight: bold;
}
.ds-tab {
    max-width: 400px;
}
.ds-tab div {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.q-tab__label {
    width: fit-content;
}
.ds-h6-subtitle {
  font-size: 1.15rem;
  padding-top: 5px;
}
.ds-h6-subtitle.ds-subtitle-padding {
  padding-top: 12px;
}
</style>
