<template>
  <q-page class="ds-page constrain-looser">
    <q-banner
      rounded
      inline-actions
      class="text-white bg-primary"
    >
      <h4>Study Design Planner</h4>
    </q-banner>
    <div class="ds-design-stepper-cnt">
      <q-stepper
        ref="stepper"
        v-model="step"
        header-nav
        color="primary"
        animated
      >
        <q-step
          :name="1"
          title="Study Design Specs"
          icon="fas fa-cogs"
          :done="step > 1"
          :header-nav="step > 1"
        >
          <study-design-form />
          <q-stepper-navigation>
            <q-btn
              color="primary"
              label="Continue"
              :disable="!stepOneCompleted"
              data-cy="btn-step1Continue"
              @click="() => { done1 = true; step = 2 }"
            />
          </q-stepper-navigation>
        </q-step>

        <q-step
          :name="2"
          title="Treatment Plan"
          icon="fas fa-prescription-bottle-alt"
          :done="step > 2"
          :header-nav="step > 2"
        >
          <treatment-plan-form />
          <q-stepper-navigation>
            <q-btn
              color="primary"
              label="Continue"
              :disable="!stepTwoCompleted"
              data-cy="btn-step2Continue"
              @click="() => { done1 = true; step = 3 }"
            />
            <q-btn
              flat
              color="primary"
              label="Back"
              class="q-ml-sm"
              data-cy="btn-step2Back"
              @click="step = 1"
            />
          </q-stepper-navigation>
        </q-step>

        <q-step
          :name="3"
          title="Sampling Plan"
          caption=""
          icon="fas fa-vials"
          :done="step > 3"
          :header-nav="step > 3"
        >
          <sample-plan-form />

          <q-stepper-navigation>
            <q-btn
              color="primary"
              label="Continue"
              data-cy="btn-step3Continue"
              @click="() => { done2 = true; step = 4 }"
            />
            <q-btn
              flat
              color="primary"
              label="Back"
              class="q-ml-sm"
              data-cy="btn-step3Back"
              @click="step = 2"
            />
          </q-stepper-navigation>
        </q-step>

        <q-step
          :name="4"
          title="Assay Plan"
          icon="fas fa-project-diagram"
          :header-nav="step > 4"
        >
          <assay-plan-form />

          <q-stepper-navigation>
            <q-btn
              push
              color="primary"
              name="saveFile"
              label="Download as JSON file"
              data-cy="btn-downloadJSON"
              @click="saveFile"
            />
            <q-btn
              v-if="isCreated"
              push
              color="secondary"
              name="submit"
              label="Create Study"
              class="q-mx-sm"
              data-cy="btn-createStudy"
              @click="createStudy"
            />
            <q-btn
              v-else
              push
              color="secondary"
              name="submit"
              label="Update Study"
              class="q-mx-sm"
              data-cy="btn-updateStudy"
              @click="updateStudy"
            />
            <q-btn
              push
              color="secondary"
              name="submit"
              label="Submit to  the ISA-API"
              class="q-mx-sm"
              data-cy="btn-submitToISA"
              @click="onSubmit"
            />
            <q-btn
              push
              flat
              color="tertiary"
              label="Back"
              class="q-mx-sm"
              data-cy="btn-step4Back"
              @click="step = 3"
            />
          </q-stepper-navigation>
        </q-step>
      </q-stepper>
    </div>
    <!--
            <div v-if="true === false" class="q-m-md q-gutter-sm">
                <article class="q-pa-lg">
                    <mermaid-renderer :study-design="studyDesign" />
                </article>
            </div>
            -->
    <q-dialog v-model="alert">
      <q-card>
        <q-card-section>
          <div class="text-h6">
            Error caught: {{ statusCode }}
          </div>
        </q-card-section>

        <q-card-section class="q-pt-none">
          <p>
            Unfortunately, some error occured while submitting the request.
            Apologies for the inconvenience.
            Please check the stack trace, if available.
          </p>
          <div v-if="errorPayload">
            <p>Error message: {{ errorPayload.message && errorPayload.message.join(", ") }}</p>
            <p>Error trace: {{ errorPayload.trace || 'No trace' }}</p>
          </div>
        </q-card-section>

        <q-card-actions align="right">
          <q-btn
            v-close-popup
            flat
            label="OK"
            color="primary"
          />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </q-page>
</template>

<script>
import { mapGetters } from 'vuex';
import { QSpinnerGears } from 'quasar';
import isaRestApi from 'src/api/isaRest';
import { createStudy, updateStudy } from 'src/api/study';
// import { isEmpty } from 'lodash';
import StudyDesignForm from 'src/components/studyDesignEditor/steps/StudyDesignForm';
import TreatmentPlanForm from 'src/components/studyDesignEditor/steps/TreatmentPlanForm';
import SamplePlanForm from 'src/components/studyDesignEditor/steps/SamplePlanForm';
import AssayPlanForm from 'src/components/studyDesignEditor/steps/AssayPlanForm';
import { RESET_ALL } from 'src/store/mutation-types';
// import MermaidRenderer from '../components/MermaidRenderer';

export default {

  components: {
    StudyDesignForm,
    TreatmentPlanForm,
    SamplePlanForm,
    // MermaidRenderer,
    AssayPlanForm
  },

  data() {
    return {
      step: 1,
      alert: false,
      errorPayload: null,
      statusCode: null
    };
  },

  computed: {
    ...mapGetters({
      // computedStudyDesign: 'study/computedStudyDesign',
      // study: 'study/studyData'
      // TODO start from here change <study-renderer /> to <study-design-renderer />
      // Omit any textual representation at this stage
      // replace this.study with
      // studyDesign: this.$store.state.studyDesignPlanner.studyDesign
      authConfig: 'auth/config',
      hasSelectedArms: 'studyDesignPlanner/hasSelectedArms',
      stepOneCompleted: 'studyDesignPlanner/stepOneCompleted',
      stepTwoCompleted: 'studyDesignPlanner/stepTwoCompleted',
      studyForSubmission: 'studyDesignPlanner/studyForSubmission'
    }),
    studyDesignPlanner: function() {
      return this.$store.state.studyDesignPlanner;
    },
    isCreated: function() {
      return !(this.studyDesignPlanner._id);
    }
  },

  created() {
    const { params: { id } = {} } = this.$route;
    if (!id) return;
    this.$store.dispatch('studyDesignPlanner/getStudy', id);
  },

  destroyed() {
    this.$store.commit(`studyDesignPlanner/${RESET_ALL}`);
  },

  methods: {
    /**
         * @method
         * @name saveFile
         * @description save the studyDesignPlanner object as JSON and dowload it to the local file system
         */
    saveFile: /* istanbul ignore next */ function() {
      // const { assayConfigs, assayInTab, remoteError, ...design } = this.studyDesignPlanner;
      const data = JSON.stringify(this.studyForSubmission);
      const blob = new Blob([data], { type: 'text/plain' });
      const e = document.createEvent('MouseEvents'),
        a = document.createElement('a');
      a.download = 'study-design.json';
      a.href = window.URL.createObjectURL(blob);
      a.dataset.downloadurl = ['text/json', a.download, a.href].join(':');
      e.initEvent('click', true, false, window, 0, 0, 0, 0, 0, false, false, false, false, 0, null);
      a.dispatchEvent(e);
    },
    /**
         * @method
         * @name onSubmit
         * @description submit form to generate ISA documents
         */
    onSubmit: /* istanbul ignore next */ async function() {
      try {
        this.$q.loading.show({
          spinner: QSpinnerGears,
          spinnerColor: 'green',
          spinnerSize: 120,
          message: `ISA document generation is in progress.
                        <br/> This can take up to some minutes depending on your design.
                        <br/><span class="text-primary">Hang on...</span>`,
          delay: 400
        });
        // FIXME: we should use this.studyForSubmission even here
        // const { assayConfigs, assayInTab, remoteError, errors, ...design } = this.studyDesignPlanner;
        const response = await isaRestApi.generateIsaFromDesign(this.studyForSubmission, 'all');
        this.$q.loading.hide();
        const url = window.URL.createObjectURL(new Blob([response.data]));
        const link = document.createElement('a');
        link.href = url;
        link.setAttribute('download', 'isa-archive.zip');
        document.body.appendChild(link);
        link.click();
      } catch (err) {
        this.$q.loading && this.$q.loading.hide();
        if (err.response) {
          const { data = {}, status } = err.response;
          this.statusCode = status;
          const reader = new FileReader();
          reader.addEventListener('loadend', ev => {
            const text = ev.srcElement.result;
            console.log(text);
            const json = JSON.parse(text);
            this.errorPayload = json.error;
          });
          reader.readAsText(new Blob([data]));
        }
        this.alert = true;
      }
    },
    /**
     * @method
     * @name createStudy
     * @description create study and save it remotely
     */
    createStudy: async function() {
      try {
        const { data: { _id } } = await createStudy(
          this.studyForSubmission,
          this.authConfig
        );
        if (_id) {
          this.$router.push(`/study/${_id}`);
        } else {
          this.$router.push('/');
        }
      } catch (err) {
        // banner with error message here
        const { data: { error: { message } = {} } = {} } = err.response;
        this.$q.notify({
          type: 'negative',
          message,
          actions: [
            { label: 'Dismiss', color: 'white', handler: () => {} }
          ]
        });
      }
    },
    /**
     * @method
     * @name createStudy
     * @description create study and save it remotely
     */
    updateStudy: async function() {
      try {
        const { _id } = this.studyForSubmission;
        await updateStudy(this.studyForSubmission, this.authConfig);
        this.$router.push(`/study/${_id}`);
      } catch (err) {
        // banner with error message here
        console.log(err.response.data);
        const { data: { error: { message } = {} } = {} } = err.response;
        this.$q.notify({
          type: 'negative',
          message,
          actions: [
            { label: 'Dismiss', color: 'white', handler: () => {} }
          ]
        });
      }
    }

  }
};
</script>

<style lang="scss" scoped>
div {
  font-family: "Avenir", Avenir, serif;
}
li {
  /*font-style: italic;*/
  font-weight: bolder;
  /*color: #300861;*/
  color: #8038d1!important;
  /*color: #fc7a4a!important;*/
}
.ds-design-stepper-cnt {
    @media (max-width: $breakpoint-sm-max) {
        padding: 0 0;
    }
    @media (min-width: $breakpoint-md-min) and (max-width: $breakpoint-md-max) {
        padding: 6px 6px;
    }
    @media (min-width: $breakpoint-lg-min) {
        padding: 12px 12px;
    }
}
</style>
